main {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    top: 160px;
    font-family: Arial;
    color: #c0c0c0;
    margin: 0 20px;
    width: 96%;
}

main .content {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.4;
    text-align: justify;
}

.content p {
    margin: 10px 0;
}

.examples ul {
    position: relative;
    top: 10px;
    left: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    list-style: none;
}

.examples li:hover a {
    background-color: rgba(0, 0, 82, 0.7);
    transform: translate(4px, -8px) scale(1.05);
    box-shadow: 0 0 20px navy;
}

.examples li:hover a span {
    color: white;
}

.examples li a {
    min-width: 200px;
    display: flex;
    border: 1px solid rgba(192, 192, 192, 0.22);
    border-radius: 8px;
    box-shadow: inset 0 0 10px hsla(189, 83%, 57%, 0.25);
    padding: 12px 8px;
    transition: all .4s;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    color: #38d1ec;
    align-items: center;
}

.examples li a ion-icon {
    color: lime;
    margin-right: 16px;
    font-size: 22px;
    transition: all .3s ease;
}

.examples li:hover a ion-icon {
    transform: rotateY(180deg);
    font-size: 24px;
    filter: drop-shadow(0 0 6px rgb(255, 251, 0));
}

.examples li a span {
    text-align: center;
}

.top {
    position: absolute;
    color: black;
    background: yellow;
    width: 70px;
    text-align: center;
    top: 0px;
    right: 0px;
    rotate: 45deg;
    transform: translate(20px, -12px);
    font-weight: 600;
}

footer {
    position: relative;
    margin-top: 200px;
    text-align: center;
    background: transparent;
    color: silver;
}

@media (max-width: 768px) {
    main {
        top: 0px;
    }

    main .content {
        margin-bottom: 20px;
        background: rgba(0, 0, 0, 0.7);
    }

    .examples ul {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 520px) {
    main {
        top: 0px;
        right: 10px;
    }

    main .examples ul {
        grid-template-columns: 1fr;
        margin-top: 0px;
        gap: 10px;
    }
}