main {
    position: relative;
    top: 160px;
    left: 0;
    width: 96% !important;
    margin: 10px 30px;
    font-family: Arial;
}

main .content {
    position: relative;
    color: #c0c0c0;
    width: 50%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content h2 {
    text-align: center;
}

.content p {
    line-height: 1.4;
    margin-top: 10px;
    text-align: justify;
    font-size: 16px;
}

main section ul {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 40px;
    list-style: none;
    transition: all .4s;
}

main section ul li a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    border-radius: 8px;
    min-width: 200px;
    border: 1px solid rgba(192, 192, 192, 0.22);
    overflow: hidden;
    box-shadow: inset 0 0 10px hsla(189, 83%, 57%, 0.25);
    padding: 12px 8px;
    transition: all .3s;
    cursor: pointer;
    overflow: hidden;
}

main section ul li:hover a {
    scale: 1.05;
    background: rgba(192, 192, 192, 0.05);
    transform: translateY(-8px);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

main section ul li:active {
    scale: .95;
}

main section ul li a span {
    color: #38d1ec;
}

main section ul li:hover a span {
    color: white;
}

main section ul li a ion-icon {
    color: lime;
    font-size: 20px;
    transition: all .4s;
    margin-right: 12px;
}

main section ul li:hover a ion-icon {
    filter: drop-shadow(0 0 10px lime);
    scale: 1.2;
    rotate: 360deg;
}

main section ul li:hover a ion-icon {
    font-size: 22px;
}

footer {
    position: relative;
    top: 200px;
    color: #c0c0c0;
    text-align: center;
}

@media (max-width :768px) {
    header .donation {
        flex-direction: row;
        top: 30px;
        left: 10px;
    }

    main {
        top: 30px;
        padding-right: 20px;
    }

    main .content {
        width: 100%;
        margin: auto;
        padding: 10px;
        background: hsla(0, 0%, 0%, 0.7);
    }

    main section ul {
        grid-template-columns: 1fr 1fr;
        margin-top: 10px;
        margin-left: -10px;
    }
}

@media (max-width: 520px) {
    main section ul {
        grid-template-columns: 1fr;
        margin-top: -40px;
        gap: 10px;
    }

    main .content {
        margin-bottom: 50px;
    }
}