@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100..900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    interpolate-size: allow-keywords;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

:root {
    --body-color: #0d1220;
    --prime-color: #32a64f;
    --prime-color2: #55fc7f;
    --prime-light-color: #34e460;
    --prime-light-color2: #01ff40;
    --second-color: #161c2d;
    --black-color: #000;
    --white-color: #fff;
    --transition: 0.3s;
    --transition2: 0.6s;
    --museoModerno-font: "MuseoModerno", sans-serif;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 10%;
}

img {
    width: 100%;
    height: 100%;
}

p,
h1 {
    text-wrap: pretty;
}

body {
    background-color: var(--body-color);
    overflow-x: hidden;
    color: var(--white-color);
}

header {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    gap: 10px;
    height: 100vh;
    width: 100%;
    background-image: url('Images/bg_header.png');
    background-size: contain;
    background-repeat: no-repeat;
}

nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.logo {
    width: 200px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu li a {
    color: var(--white-color);
    font-size: 1.25rem;
    transition: var(--transition);
    position: relative;
}

.menu li a::after {
    position: absolute;
    content: '';
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, var(--prime-color), var(--prime-color), var(--white-color));
    transition: var(--transition);
}

.menu li a:hover {
    color: var(--prime-color);
}

.menu li a:hover::after {
    width: 100%;
}

button {
    width: 200px;
    height: 50px;
    background-color: var(--prime-color);
    color: var(--white-color);
    font-size: 1.2rem;
    font-weight: 400;
    border: none;
    clip-path: polygon(10% 0, 100% 0, 100% 70%, 90% 100%, 0 100%, 0% 30%);
    transition: var(--transition);
    cursor: pointer;
}

button:hover {
    background-color: #34e460;
}

.bars {
    display: none;
}

.hero_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 50px;
    padding: 5% 10%;
}

.hero_content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    color: var(--white-color);
}

.hero_content h1 {
    font-size: 4rem;
    line-height: 4.5rem;
    font-family: var(--museoModerno-font);
    color: transparent;
    -webkit-text-stroke: 1px var(--white-color);
}

.hero_content p {
    font-family: var(--museoModerno-font);
    font-size: 1.25rem;
    font-weight: 400;
    margin-block: 10px;
}

.hero_image {
    width: 60%;
    position: relative;
}

.hero_svg {
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 85%;
}

.company {
    position: absolute;
    top: 104%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    flex-direction: column;
    padding: 3% 10%;
    background-image: url('Images/bg_header.png');
    z-index: 2;
}

.company::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(94,168,96,0.3) 0%, #16203a 100%);
    z-index: -1;
}

.company h1 {
    font-size: 3rem;
    font-family: var(--museoModerno-font);
    color: var(--white-color);
    width: 80%;
    text-align: center;
    position: relative;
}

.company h1::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 40%;
    height: 2px;
    background-color: var(--prime-light-color);
}

.brands_Swiper {
    width: 100%;
    margin: 10px 0;
}

.about {
    gap: 50px;
    margin-top: 12%;
}

.about_image {
    width: 50%;
    position: relative;
}

.about_bg {
    position: absolute;
    top: 53%;
    left: 53%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: -1;
}

.product_sold {
    position: absolute;
    top: -5%;
    left: -5%;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: var(--white-color);
    color: var(--black-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product_sold h1 {
    font-size: 3rem;
    font-family: var(--museoModerno-font);
    color: var(--prime-light-color);
    font-weight: 500;
    line-height: 3rem;
}

.product_sold p {
    font-size: 1.1rem;
}

.about_content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    color: var(--white-color);
}

.about_content h2 {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--prime-light-color);
}

.about_content h1 {
    font-size: 3rem;
    font-family: var(--museoModerno-font);
    font-weight: 500;
    line-height: 3.5rem;
}

.about_content p {
    font-size: 1.1rem;
    font-weight: 400;
    color: #999;
    margin: 10px 0;
}

.about_content button {
    margin: 20px 0;
}

.category_cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    place-content: center;
    place-items: center;
}

.btn2 {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.9);
    clip-path: none;
    margin: 10px 0;
}

.btn2:hover {
    color: var(--black-color);
    border-color: transparent;
}

.category_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    width: 100%;
    position: relative;
    z-index: 1;
    padding: 5%;
    transition: var(--transition);
}

.category_card::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-image: url('Images/card_bg.jpg');
    background-size: cover;
    z-index: -1;
    opacity: 0.5;
    transition: var(--transition);
}

.category_card::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-image: linear-gradient(135deg, var(--prime-color2) 0%, var(--prime-light-color2) 100%);
    z-index: -1;
    opacity: 0;
    transition: var(--transition);
}

.category_card:hover::before {
    opacity: 1;
}

.category_card:hover {
    transform: scale(1.03);
}

.category_card:hover::after {
    opacity: 0;
}

.category_card h2:hover {
    color: var(--black-color);
    cursor: pointer;
}

.category_card img {
    width: 18%;
}

.category_card h2 {
    font-family: var(--museoModerno-font);
    font-size: 2rem;
    font-weight: 400;
    transition: var(--transition);
}

.category_card p {
    font-size: 1rem;
    font-weight: 400;
}

.headings {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.headings h2 {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--prime-light-color);
}

.headings h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 500;
    font-family: var(--museoModerno-font);
}

.headings p {
    color: #999;
    font-size: 1.1rem;
    margin: 10px 0;
}

.about_info {
    gap: 50px;
    background-color: #14262a;
    background-image: url('Images/bg_img.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.about_info_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.about_det {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    margin-top: 20px;
}

.det_box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.det_box i {
    font-size: 3rem;
    width: 150px;
    height: 75px;
    border-radius: 100%;
    border: 1px solid var(--prime-light-color);
    color: var(--prime-light-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.det_info {
    display: flex;
    flex-direction: column;
}

.det_info h2 {
    font-size: 1.3rem;
    font-weight: 400;
    font-family: var(--museoModerno-font);
}

.det_info p {
    font-size: 1rem;
    font-weight: 400;
}

.about_info_img {
    width: 70%;
}

.work_det {
    position: absolute;
    top: 90%;
    left: 0;
    padding: 3% 10%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-content: center;
    background-image: linear-gradient(to left, var(--prime-color) 0%, var(--prime-light-color));
    clip-path: polygon(0 0, 100% 0, 100% 70%, 96% 100%, 0 100%, 0% 10%);
}

.work_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.work_box::after {
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    width: 1px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}

.work_box h1 {
    font-size: 3rem;
    line-height: 3rem;
    font-family: var(--museoModerno-font);
}

.service {
    margin-top: 120px;
    gap: 50px;
}

.service .headings {
    width: 50%;
}

.service_info {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.service_box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.service_box:hover i {
    background-color: var(--prime-color);
    cursor: pointer;
}

.service_box i {
    width: 150px;
    height: 100px;
    font-size: 3.5rem;
    border-radius: 5px;
    background-color: var(--prime-color2);
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}

.service_det {
    display: flex;
    flex-direction: column;
}

.service_det h2 {
    font-size: 1.5rem;
    font-family: var(--museoModerno-font);
    font-weight: 400;
    transition: var(--transition);
}

.service_det h2:hover {
    color: var(--prime-color2);
    cursor: pointer;
}

.service_det p {
    font-size: 1rem;
    color: #999;
    font-weight: 400;
}

.vr_info {
    position: relative;
}

.info_content {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    z-index: 1;
    background-color: #161c2d;
    padding: 3%;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 90% 100%, 0 100%, 0% 10%);
    border-left: 5px solid var(--prime-color);
}

.info_content::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Images/bg_img.png');
    background-size: 80%;
    background-position: 200%;
    background-repeat: no-repeat;
}

.info_content h1 {
    font-size: 2rem;
    font-family: var(--museoModerno-font);
    line-height: 2rem;
    font-weight: 400;
}

.info_content p {
    font-size: 1rem;
    color: #999;
}

.info_bar {
    width: 97%;
    display: flex;
    flex-direction: column;
}

.info_bar h3 {
    font-size: 1.1rem;
    font-weight: 400;
    font-family: var(--museoModerno-font);
}

.percent {
    width: 100%;
    height: 7px;
    border: 5px;
    background-color: var(--white-color);
    position: relative;
}

.percent::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
    background-color: var(--prime-color);
}

.percent::before {
    content: '75%';
    position: absolute;
    top: -25px;
    left: 73%;
}

.percent2::after {
    width: 61%;
}

.percent2::before {
    content: '61%';
    left: 59%;
}

.percent3::after {
    width: 91%;
}

.percent3::before {
    content: '91%';
    left: 89%;
}

.percent4::after {
    width: 85%;
}

.percent4::before {
    content: '85%';
    left: 83%;
}

.info_image {
    width: 70%;
    margin-left: 40%;
    height: 600px;
    object-fit: contain;
    box-shadow: 10px -10px 0 0 var(--prime-color);
    z-index: -1;
}

.testimonial {
    flex-direction: column;
    gap: 50px;
}

.testimonial .headings {
    justify-content: center;
    align-items: center;
}