@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100..900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    interpolate-size: allow-keywords;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

:root {
    --body-color: #0d1220;
    --prime-color: #32a64f;
    --second-color: #161c2d;
    --black-color: #000;
    --white-color: #fff;
    --transition: 0.3s;
    --transition2: 0.6s;
    --museoModerno-font: "MuseoModerno", sans-serif;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 10%;
}

img {
    width: 100%;
    height: 100%;
}

p,
h1 {
    text-wrap: pretty;
}

body {
    background-color: var(--body-color);
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    gap: 10px;
    height: 100vh;
    width: 100%;
    background-image: url('Images/bg_header.png');
    background-size: contain;
    background-repeat: no-repeat;
}

nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.logo {
    width: 200px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu li a {
    color: var(--white-color);
    font-size: 1.25rem;
    transition: var(--transition);
    position: relative;
}

.menu li a::after {
    position: absolute;
    content: '';
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, var(--prime-color), var(--prime-color), var(--white-color));
    transition: var(--transition);
}

.menu li a:hover {
    color: var(--prime-color);
}

.menu li a:hover::after {
    width: 100%;
}

button {
    width: 200px;
    height: 50px;
    background-color: var(--prime-color);
    color: var(--white-color);
    font-size: 1.2rem;
    font-weight: 400;
    border: none;
    clip-path: polygon(10% 0, 100% 0, 100% 70%, 90% 100%, 0 100%, 0% 30%);
    transition: var(--transition);
    cursor: pointer;
}

button:hover {
    background-color: #34e460;
}

.bars {
    display: none;
}

.hero_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 50px;
    padding: 5% 10%;
}

.hero_content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    color: var(--white-color);
}

.hero_content h1 {
    font-size: 4rem;
    line-height: 4.5rem;
    font-family: var(--museoModerno-font);
    color: transparent;
    -webkit-text-stroke: 1px var(--white-color);
}

.hero_content p {
    font-family: var(--museoModerno-font);
    font-size: 1.25rem;
    font-weight: 400;
    margin-block: 10px;
}

.hero_image {
    width: 60%;
    position: relative;
}

.hero_svg {
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 100%;
}