* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*:focus,
*:active {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(315deg, #fff, #a6c5e6);
    background-attachment: fixed;
}

.wrapper {
    display: inline-flex;
    list-style: none;
}

.wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all .2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 20px;
    font-size: 12px;
    background: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    pointer-events: none;
    transition: all .2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: '';
    height: 12px;
    width: 12px;
    background: #fff;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    z-index: -1;
    transition: all .2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: none;
}

.wrapper .icon:hover :is(span, .tooltip) {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    scale: 1.2;
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background: #1877f2;
    color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
    background: #222;
    color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #e4405f;
    color: #fff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
    background: #833ab4;
    color: #fff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
    background: #cd201f;
    color: #fff;
}