* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(#333, #111);
    overflow: hidden;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.btn {
    position: relative;
    width: 240px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    font-size: 2em;
    transition: .5s;
    text-decoration: none;
    letter-spacing: 1px;
    color: #e50914;
    transition-delay: 1s;
}

.btn:hover {
    filter: drop-shadow(0 0 10px #e50914) drop-shadow(0 0 30px #e50914);
    letter-spacing: 2px;
    color: #fff;
}

.btn span {
    position: absolute;
    top: 0;
    width: 2px;
    height: 100%;
    background: #e50914;
    pointer-events: none;
    transition: transform .2s ease-in-out;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: bottom;
}

.btn:hover span {
    transform: scaleY(1);
    transform-origin: top;
}

.btn span:nth-child(even) {
    transform-origin: top;
}

.btn:hover span:nth-child(even) {
    transform-origin: bottom;
}