* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: radial-gradient(ellipse at center, rgb(70, 70, 70), rgb(20, 20, 20));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 260px;
    gap: 40px;
}

label {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

input {
    display: none;
}

span {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#555, #363535, #303030);
    border: 2px solid #222;
    box-shadow: inset 0 5px 2px rgba(0, 0, 0, .35),
    0 5px 5px rgba(0, 0, 0, .5),
    0 15px 25px rgba(0, 0, 0, .35);
}

input:checked ~ span {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, .35),
    inset 0 5px 5px rgba(0, 0, 0, .5),
    inset 0 15px 25px rgba(0, 0, 0, .35);
}

span::before {
    content: '';
    position: absolute;
    inset: 5px 3px;
    border-top: 1px solid #ccc;
    filter: blur(2px);
}

label i {
    position: relative;
    z-index: 5;
    font-size: 22px;
    color: #111;
}

input:checked ~ i {
    color: #fff;
    text-shadow: 0 0 5px #219cf3,
    0 0 10px #219cf3,
    0 0 20px #219cf3;
}