* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(#162b52 0%, #687b9c 50%, #162b52 100%);
    gap: 40px;
}

h1 {
    text-align: center;
    text-wrap: pretty;
    color: transparent;
    background: linear-gradient(90deg, #ff0000, #ff7300, #ffea00, #00ff00, #00ffe1, #0033ff, #a700ff, #ff00b5);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pixel-btn {
    position: relative;
    width: 180px;
    height: 60px;
    border: none;
    outline: none;
    color: #fff;
    background: #333;
    font-size: 1.25em;
    letter-spacing: .1em;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}

.pixel-btn span {
    position: relative;
    z-index: 2;
    transition: .5s;
}

.pixel-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

.pixel {
    width: 10px;
    height: 10px;
    position: absolute;
    pointer-events: none;
    background: var(--clr);
    border: 1px solid rgba(0, 0, 0, 0.25);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.pixel-btn:hover span {
    color: #000;
}

.pixel-btn:hover .pixel {
    opacity: 1;
}