* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(160deg, #0a1d3d, #280131);
}

.container {
    display: flex;
    flex-direction: column;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
}

.btn {
    position: relative;
    display: inline-flex;
    padding: 10px 30px;
    background: #363636;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    overflow: hidden;
    border-radius: 8px;
    transition: all .3 ease;
}

.btn:hover {
    box-shadow: 0 0 10px royalblue;
    font-weight: 600;
}

.btn span {
    position: relative;
    z-index: 1;
}

.btn::before {
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background: royalblue;
    transition: all .4s ease;
}

.btn:hover::before {
    width: 300px;
    height: 300px;
}

.btn2 {
    background: grey;
    color: black;
}
