* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(black, #222, black);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

a {
    position: relative;
    background-color: white;
    font-size: 22px;
    font-weight: 500;
    padding: 15px 35px;
    color: white;
    border-radius: 4px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    transition: 0.3s;

    &:hover {
        transform: translateY(-4px) scale(1.02);
    }
}

a::before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;
}

a span {
    position: relative;
    z-index: 1;
}

a i {
    position: absolute;
    inset: 0;
    display: block;
}

a i::before {
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 15px;
    height: 4px;
    background-color: black;
    transform: translateX(-50%) skewX(325deg);
    transition: .5s;
}

a i::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 80%;
    width: 15px;
    height: 4px;
    background-color: black;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

a:hover i::before {
    width: 20px;
    left: 20%;
}

a:hover i::after {
    width: 20px;
    right: 20%;
}

a:nth-child(1):hover {
    background-color: #1e9bff;
    box-shadow: 0 0 35px #1e9bff;
}

a:nth-child(2):hover {
    background-color: #6eff3e;
    box-shadow: 0 0 35px #6eff3e;
}

a:nth-child(3):hover {
    background-color: #ff1867;
    box-shadow: 0 0 35px #ff1867;
}