* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: radial-gradient(circle at center, #a5b1c2, #172b47);
    color: #fff;
}

#stars {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.star {
    position: absolute;
    background: white;
    border-radius: 50%;
    animation: twinkle var(--duration) infinite ease-in-out;
    opacity: 0;
}

@keyframes twinkle {
    0%, 100% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
}

.container {
    background: #1e272e;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 20px 35px 35px rgba(0, 0, 0, .45);
    backdrop-filter: blur(10px);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #4cd137;
    text-shadow: 0px 15px 15px rgba(51, 255, 0, 0.1);
}

label {
    font-size: 1.25rem;
    margin-bottom: 16px;
    display: block;
}

input[type="date"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background: #485460;
    color: #eee;
}

input:focus {
    border: 1px solid #4cd137;
    outline: none;
}

button {
    padding: 12px 24px;
    font-size: 1rem;
    border: none;
    outline: none;
    overflow: hidden;
    border-radius: 6px;
    background: #44bd32;
    color: #1e272e;
    cursor: pointer;
    transition: all .3s ease-out;
    margin: 30px 0;
}

button:hover {
    box-shadow: 0 0 15px rgba(58, 227, 117, 0.5),
    0 0 30px rgba(50, 255, 125, 0.5);
    transform: translateY(-2px) scale(1.03);
}

button:active {
    box-shadow: 0 0 15px rgba(58, 227, 117, 0.5);
    transform: scale(1);
    transition: .1s ease-out;
}

.results-container {
    border: 1px solid #44bd32;
    display: grid;
    /* display: none; */
}

/* .results-container.show {
    display: block;
  } */

.results-container p {
    font-size: 16px;
    margin-block: 10px;
}

.copy-btn {
    width: 50%;
    justify-self: center;
    margin: 10px 0 12px 0;
}

.particle {
    position: absolute;
    width: 8px;
    height: 8px;
    background: rgba(255, 255, 255, .8);
    border-radius: 50%;
    pointer-events: none;
    opacity: 1;
    z-index: -1;
    transform: translate(0, 0);
    animation: animate 1s ease-in-out forwards;
}

@keyframes animate {
    100% {
        opacity: 0;
        transform: translate(var(--tx), var(--ty));
    }
}

h4 {
    font-size: 14px;
    font-weight: 200;
    color: #c9c9c9;
    cursor: default;
    transform: translateX(-50%);
    left: 50%;
    position: fixed;
    bottom: 20px;
    text-align: center;
    text-wrap: pretty;
}

h4 em {
    color: #daa644;
}