* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #4361ee;
    --secondary: #3a0ca3;
    --accent: #4cc9f0;
    --light: #f1f2fa;
    --dark: #212529;
    --success: #4bb543;
    --warning: #ffcc00;
    --danger: #dc3545;
    --gray: #6c7b7d;
    --shadow: 0 4px 8px rgb(0 0 0 / 0.15);
    --transition: all 0.3s ease;
}

body {
    background: linear-gradient(135deg, #e8ebf1, #8bb0f8);
    color: var(--dark);
    line-height: 1.5;
    min-height: 100dvh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-inline: 20px;
}

header {
    background: linear-gradient(135deg, var(--primary), var(--secondary));
    color: var(--light);
    padding-block: 1.5rem;
    box-shadow: var(--shadow);
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.875rem;
    font-weight: 700;

    i {
        color: var(--accent);
    }
}

.search-bar {
    display: flex;
    width: 40%;
}

.search-bar input {
    flex: 1;
    padding: 10px 15px;
    border: none;
    border-radius: 4px 0 0 4px;
    cursor: pointer;
    transform: var(--transition);
}

.search-bar button {
    background: var(--accent);
    color: var(--light);
    border: none;
    padding-inline: 15px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: var(--transition);

    i {
        font-size: 16px;
        transition: 0.2s;
    }
    &:hover {
        background: #3ab0d5;
    }
    &:hover i {
        scale: 1.2;
    }
    & i:active {
        scale: 1.1;
    }
}

.user-actions {
    display: flex;
    gap: 15px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
    transition: var(--transition);
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.btn-primary {
    background: var(--accent);
    color: white;
}

.btn-outline {
    background: transparent;
    border: 2px solid white;
    color: white;

    &:hover {
        box-shadow: inset 0 -36px  0 rgb(255 255 255 / 0.2);
        transform: translateY(-2px) scaleX(1.02);
        border-radius: 6px;
        corner-shape: scoop;
    }
    i {
        transition: var(--transition);
    }
    &:hover i {
        transform: rotate(180deg) scale(1.1);
    }
}