@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ruda:wght@400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  interpolate-size: allow-keywords;
}

:root {
  --light: #e2e2e2;
  --primary: #1976d2;
  --light-primary: #cfe8ff;
  --grey: #b5b5b5;
  --dark-grey: #aaaaaa;
  --dark: #2b2d3a;
  --danger: #d32f2f;
  --light-danger: #fecdd3;
  --warning: #fbc02d;
  --light-warning: #fff2c6;
  --success: #388e3c;
  --light-success: #bbf7d0;
}

body {
  display: grid;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--light);
  font-family: 'poppins', sans-serif;
  transition: 0.3s;
}

.dark-theme {
  --light: #111;
  --grey: #222;
  --dark: #eee;
}

.dark-theme label {
    color: var(--dark);
}

.table_content h3 {
  color: var(--dark);
}

.container {
  max-width: 1280px;
  width: 95%;
  align-self: flex-end;
  margin: 0 auto;
  margin-block-start: 10px;
  background-color: var(--grey);
  border-radius: 6px;
  box-shadow: 5px 5px 10px #000;
  overflow-x: hidden;
  position: relative;
  transform: translateY(200px) scale(0) rotateX(90deg);
  transition: 0.3s;
  animation: enter 0.8s forwards cubic-bezier(0.47, 1.5, 0.745, 0.715);
}

@keyframes enter {
    to {
        transform: translateY(0) scale(1) rotateX(0);
    }
}

.container h2 {
  padding: 2rem 0;
  font-size: 4rem;
  text-align: center;
  color: var(--dark);
}

.error_message {
  background-color: var(--danger);
  color: var(--light);
  text-align: center;
  padding: 1rem 0;
  width: 600px;
  margin: 0 auto;
  border-radius: 6px;
  visibility: hidden;
  height: 0;
  transition: 0.2s;
}

.theme_icon {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

.dark-theme .theme_icon {
  color: var(--dark-grey);
}

.theme_icon i {
  font-size: 2rem;
  transition: all 0.3s;
  cursor: pointer;
}

.error_message.error {
  visibility: visible;
  height: auto;
}

.budget_content {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.ur_budget form input,
.ur_expenses form input {
  padding: 0.4rem 1rem;
  width: 300px;
  border: 1px solid #999;
  background-color: var(--light);
  font-family: inherit;
  font-size: 1rem;
  margin-left: 0.5rem;
  border-radius: 4px;
  transition: 0.3s;
}

:is(.ur_budget form input, .ur_expenses form input)::placeholder {
  font-size: 0.875rem;
  transition: 0.3s;
}

:is(.ur_budget form input, .ur_expenses form input):is(:focus, :focus-within)::placeholder {
  transform: translateX(300px);
}

:is(.ur_budget form input, .ur_expenses form input):is(:focus, :focus-within) {
  outline: none;
  background-color: var(--light-primary);
}

.dark-theme :is(.ur_budget form input, .ur_expenses form input):is(:focus, :focus-within) {
  background-color: #222;
  color: #ddd;
}

:is(.ur_budget form, .ur_expenses form) {
  position: relative;
}

.expenses_content {
  position: relative;
}

.budget_content .btn {
  position: absolute;
  right: 0;
  outline: none;
  border: none;
  font-family: inherit;
  padding: 0.6rem 1rem;
  color: var(--light);
  border-radius: 0 6px 6px 0;
  cursor: pointer;
  background-color: var(--dark);
  transition: 0.2s;

  &:hover {
    filter: brightness(1.2);
    transform: scale(1.02) translateX(4px);
  }

  &:active {
    transform: scale(0.98) translateX(4px);
  }
}

.container .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
}

.container .cards li {
  pad: 1.8rem;
  background-color: var(--light);
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  cursor: pointer;
  transition: 0.25s ease-in;
}

.container .cards li:hover {
  transform: translateY(-10px);
}

.container .cards li .bx {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 10px;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .cards li:nth-child(1) .bx {
  background-color: var(--light-primary);
  color: var(--primary);
}

.container .cards li:nth-child(2) .bx {
  background-color: var(--light-warning);
  color: var(--warning);
}

.container .cards li:nth-child(3) .bx {
  background-color: var(--light-success);
  color: var(--success);
}

.container .cards li .info h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--dark);
}

.container .cards li .info p {
  color: var(--dark);
}

.table_content {
  padding: 2rem;
  background-color: var(--light);
  margin: 1rem 2rem;
  border-radius: 6px;
}

.table_content h3 {
  font-size: 2rem;
  margin: 1rem 0;
}

.tbl_tr_content {
  display: grid;
  list-style-type: none;
  grid-template-columns: 1fr 50% 30% 2fr;
  align-items: center;
  background-color: var(--dark);
  color: var(--light);
  padding: 0.5rem 1rem;
  border-radius: 6px;
  margin: 0.5rem 0;
  border: 1px solid var(--primary);
  cursor: pointer;
  transition: all 0.3s;
}

.dark-theme .tbl_tr_content {
  background-color: #222;
  color: var(--dark);
}

.table_data {
  overflow-y: auto;
  height: auto;
}

.tbl_tr_content button {
  outline: none;
  border: none;
  color: var(--light);
  padding: 0.4rem;
  border-radius: 6px;
  cursor: pointer;
  background-color: var(--danger);
  transition: 0.25s;

  &:hover {
    transform: translateY(-2px) scale(1.02);
  }

  &:active {
    transform: scale(1);
  }
}

.tbl_tr_content button:first-child {
  background-color: var(--success);
}

.footer__copy {
  font-size: 0.875rem;
  font-weight: 300;
  align-self: flex-end;
  justify-self: center;
  margin-block-end: 10px;
  color: var(--dark);
  transition: 0.3s;
}

.footer__copy abbr {
  letter-spacing: 0.5px;
  text-underline-offset: 3px;
  color: var(--primary);
  cursor: default;
}

@media screen and (max-width: 800px) {
  .container h2 {
    padding-bottom: 0;
  }
  .ur_budget form,
  .ur_expenses form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  label {
    margin-inline-start: 10px;
  }
  :is(.ur_budget form input, .ur_expenses form input) {
    min-width: fit-content;
  }
  .ur_budget form .btn {
    bottom: 0;
  }
}
