@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ruda:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    interpolate-size: allow-keywords;
}

:root {
    --light: #e2e2e2;
    --primary: #1976d2;
    --light-primary: #cfe8ff;
    --grey: #b5b5b5;
    --dark-grey: #aaaaaa;
    --dark: #363949;
    --danger: #d32f2f;
    --light-danger: #fecdd3;
    --warning: #fbc02d;
    --light-warning: #fff2c6;
    --success: #388e3c;
    --light-success: #bbf7d0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: darkolivegreen;
    font-family: 'poppins', sans-serif;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--grey);
    border-radius: 6px;
    box-shadow: 5px 5px 10px #000;
    overflow-x: hidden;
}

.container h2 {
    padding: 2rem 0;
    font-size: 4rem;
    text-align: center;
    color: var(--dark);
}

.error_message {
    background-color: var(--danger);
    color: var(--light);
    text-align: center;
    padding: 1rem 0;
    width: 600px;
    margin: 0 auto;
    border-radius: 6px;
    display: none;
}

.budget_content {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.ur_budget form input,
.ur_expenses form input {
    padding: 0.4rem 1rem;
    width: 300px;
    border: 1px solid #ddd;
    background-color: var(--light);
    font-family: inherit;
    font-size: 1rem;
    margin-left: 0.5rem;
    border-radius: 4px;
    transition: .3s;
}

:is(.ur_budget form input, .ur_expenses form input)::placeholder {
    font-size: .875rem;
    transition: .3s;
}

:is(.ur_budget form input, .ur_expenses form input):is(:focus, :focus-within)::placeholder {
    transform: translateX(300px);
}

:is(.ur_budget form input, .ur_expenses form input):is(:focus, :focus-within) {
    outline: none;
    background-color: var(--light-primary);
}

:is(.ur_budget form, .ur_expenses form) {
    position: relative;
}

.budget_content .btn {
    position: absolute;
    right: 0;
    outline: none;
    border: none;
    font-family: inherit;
    padding: 0.6rem 1rem;
    color: var(--light);
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    background-color: var(--dark);
    transition: .2s;

    &:hover {
        filter: brightness(1.2);
        transform: scale(1.02) translateX(4px);
    }

    &:active {
        transform: scale(0.98);
    }
}

.container .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
}

.container .cards li {
    pad: 1.8rem;
    background-color: var(--light);
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    cursor: pointer;
    transition: .3s ease-in;
}