* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c5c5c5;
    background: linear-gradient(135deg, grey, #f5f5f5);
    background-attachment: fixed;
    margin-block-start: 40px;
}

h1 {
    font-size: 28px;
    margin-block-end: 8px;
}

#info, #lives {
    font-size: 16px;
    margin-block: 5px;
}

#game-container {
    width: 400px;
    height: 400px;
    margin: 60px auto 20px;
    border: 3px solid currentColor;
    position: relative;
    overflow: hidden;
    background-color: #e0e0e0;
}

#cube {
    width: 40px;
    height: 40px;
    background-color: orangered;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 6px;
    z-index: 2;
}

#goal {
    width: 40px;
    height: 40px;
    background-color: limegreen;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    z-index: 1;
}

.obstacle {
    position: absolute;
    width: 54px;
    height: 54px;
    background-color: rgba(255, 0, 0, 0.1);
    display: grid;
    place-content: center;
    border-radius: 8px;
    color: red;
    font-size: 60px;
    z-index: 1;
}

.footer__copy {
    font-size: 13px;
    font-weight: 100;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}