* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(ellipse at center, #232e50 50%, #241943 100%);
    min-height: 100vh;
}

.container {
    font-size: 40px;
    width: 600px;
    background: linear-gradient(-200deg, #8468ff 50%, #634bcc 50%);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 80px 40px;
    border-radius: 1em;
    box-shadow: 0 20px 30px rgba(94, 72, 181, .25);
}

.container h1 {
    text-align: center;
    color: transparent;
    font-weight: 400;
    letter-spacing: 1px;
    word-spacing: 5px;
    -webkit-text-stroke: 2px #bebebe;
    filter: drop-shadow(0 0 12px rgba(255, 255, 255, 0.3))
    drop-shadow(0 0 30px rgba(255, 255, 255, 0.3));
}