* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    interpolate-size: allow-keywords;
}

body {
    background-color: #111;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    user-select: none;
    background-color: #111;
}

.container .row {
    display: flex;
    justify-content: center;
}

.container span {
    display: inline-block;
}

.btns {
    position: absolute;
    top: 4rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    border: 1px solid #555;
    padding: 1rem;
    backdrop-filter: blur(10px);
    transition: height 0.3s, opacity 0.2s;
}

#hide {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.btns.hide {
    height: 0px;
    opacity: 0;
}

button{
    border: none;
    color: #eee;
    font-size: 1.5rem;
    text-transform: capitalize;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    background-color: #0080ff;
    border-radius: 6px;
    transition: 0.2s;
}

button:hover {
    background-color: #0065ca;
    transform: scale(1.03);
    box-shadow: 0 6px 16px rgba(255, 255, 255, 0.1);
}

button:active {
    transform: scale(1);
}

.btns p {
    color: #eee;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 6px;
    background: linear-gradient(90deg, #0080ff, orangered);
    border-radius: 5px;
    pointer-events: none;
    transition: 0.2s;
}

input[type="range"]:active {
    height: 7px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 14px;
    width: 14px;
    background: #0080ff;
    border-radius: 50%;
    border: 1px solid #999;
    cursor: pointer;
    pointer-events: auto;
    box-shadow: rgba(255, 255, 255, 0.1);
    transition: all .2s;
}

input[type="range"]::-webkit-slider-thumb:hover {
    transform: scale(1.2);
    box-shadow: rgba(255, 255, 255, 0.6);
}

.footer {
    color: #aaa;
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    font-weight: 400;
}

abbr {
    font-size: 15px;
    color: #ccc;
    text-underline-offset: 3px;
    text-decoration-skip-ink: none;
    letter-spacing: 0.5px;
    cursor: default;
}

@media screen and (max-width: 768px) {
    button {
        font-size: 1rem;
    }
}