* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: maroon;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    text-align: center;
    margin-block-start: 2rem;
    background: linear-gradient(to right, maroon, white, maroon);
    background-clip: text;
    background-size: 200% 100%;
    color: transparent;
    font-weight: bold;
    animation: animate 10s linear infinite;
}

@keyframes animate {
    to {
        background-position: -200% 0;
    }
}

.meme-generator {
    text-align: center;

    .meme-author {
        margin: 8px;
    }
}

.meme-title {
    margin-block: 4rem 2rem;
    font-size: 2rem;
    text-wrap: pretty;
    text-decoration: underline 1px solid currentColor;
    text-underline-offset: 2px;
    text-decoration-skip-ink: all;
}

.meme-generator img {
    width: auto;
    height: 450px;
    object-fit: cover;
}

.meme-generator .generate-meme-btn {
    padding: 8px 20px;
    border: none;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    margin: 24px 0;
    font-size: 1.1rem;
    font-weight: 600;
    color: #f64d4d;
    cursor: pointer;
    transition: .3s;

    &:hover {
        padding: 8px 36px;
        border-left-width: 8px;
        border-right-width: 8px;
        border-color: tomato;
        letter-spacing: 2px;
    }
}

.meme-generator .generate-meme-btn .btn-spinner {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: text-bottom;
    border-radius: 50%;
    border: 4px solid rgba(0,0,0,0.1);
    border-top-color: #a00000;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}