:root {
    --bg-color: #e3e7eb;
    --card-bg: #fff;
    --text-color: #333;
    --input-bg: #fff;
    --input-border: #ccc;
    --button-bg: #007bff;
    --button-hover: #0059b3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--bg-color);
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: all .3s ease;
}

.converter {
    background: var(--card-bg);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgb(0 0 0 / 0.1);
    align-self: flex-end;
    margin-top: 10px;
    transition: all 0.3s ease;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--text-color);
    text-wrap: pretty;
    font-weight: bold;
    font-size: 26px;
}

label {
    display: block;
    margin: 15px 0 5px;
    color: var(--text-color);
}

input,
select {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid var(--input-border);
    margin-bottom: 15px;
    font-size: 16px;
    background: var(--input-bg);
    color: var(--text-color);
    outline: none;
    transition: all .3s;
}

select:focus {
    background: var(--button-hover);
    color: white;
}

option {
    background: var(--button-bg);
    color: white;
}

input::placeholder {
    transition: 0.3s;
}

input:is(:focus, :focus-within)::placeholder {
    transform: translateX(110%);
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background: var(--button-bg);
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 18px;
    transition: 0.2s;

    &:hover {
        background-color: var(--button-hover);
        box-shadow: 0 4px 8px rgb(from var(--button-hover) r g b / 0.3);
        transform: translateY(-3px) scale(1.02);
    }
    &:active {
        transform: translateY(-1px) scale(1);
    }
}

.result {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color);
    margin-top: 12px;
    word-break: break-all;
    transition: all .2s;
}

.theme-switcher {
    margin-bottom: 15px;
    text-align: center;
}

.theme-switcher select {
    width: fit-content;
}

footer {
    text-align: center;
    align-self: flex-end;
    margin-bottom: 10px;
    font-size: 14px;

    span {
        color: red;
        font-size: 16px;
    }
    abbr {
        cursor: default;
        letter-spacing: 0.5px;
        text-underline-offset: 2px;
        color: var(--button-hover);
    }
}