* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: grid;
    justify-content: center;
    align-items: flex-end;
    min-height: 100vh;
    background: linear-gradient(135deg, #0b1222, #394f6a);
    color: #ddd;
}

.container {
    background: linear-gradient(135deg, #090e1b, #002d64);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.05);
    justify-self: end;
    width: 400px;
    text-align: center;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.password-input {
    width: 100%;
    padding: 0.8rem;
    margin: 1rem 0;
    border: 2px solid rgba(0, 0, 0, 0.6);
    border-radius: 6px;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.1);
    color: #c7c7c7;
    outline: none;
    transition: all .3s ease-in-out;
    padding-right: 40px;
}

.password-input::placeholder {
    transition: all .4s;
}

.password-input:focus {
    border-color: #777;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
}

.password-input:focus::placeholder {
    transform: translateX(300px) skewX(-90deg);
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 15%;
    transform: translateY(-40%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    gap: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #aaa;
}

.toggle-password i {
    width: 20px;
    height: 20px;
}

.toggle-password .eye-slash {
    display: none;
}

.toggle-password.hide .eye {
    display: none;
}

.toggle-password.hide .eye-slash {
    display: block;
}

h2 {
    margin: 0 0 1rem;
    font-size: 2rem;
    -webkit-text-stroke: 0.6px #fff;
    color: transparent;
}

.requirements {
    list-style: none;
    padding: 0;
    margin: 1rem 0 1.5rem 0;
    text-align: left;
    opacity: 0;
    transform: translateY(0);
    transition: all .3s;
    pointer-events: none;
}

.requirements.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.requirement {
    margin: 0.5rem 0;
    color: #999;
    display: flex;
    align-items: center;
    font-size: .9rem;
}

.requirement.valid {
    color: #ddd;
}

.requirement::before {
    content: 'X';
    color: #f00;
    font-weight: bold;
    margin-right: 0.5rem;
    transition: all .3s;
}

.requirement.valid::before {
    content: '\2713';
    color: #0f0;
}

.progress-bar {
    margin: 1rem 0;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    height: 10px;
    overflow: hidden;
}

.progress {
    height: 100%;
    width: 0%;
    background: #0f0;
    transition: width .3s ease-in-out;
}

.password-input:hover {
    border-color: #444;
}

.btns {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.btns button {
    width: 45%;
    padding: 0.5rem;
    border: none;
    border-radius: 8px;
    background: rgb(0, 119, 255);
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    transition: all .3s;
}

.btns button:hover {
    transform: translateY(-4px);
    box-shadow: inset 160px 0px 0px rgba(0, 85, 255, 1),
    0 5px 10px rgba(0, 195, 255, 0.2);
}

h4 {
    font-size: 14px;
    font-weight: 100;
    color: #999;
    text-align: center;
    margin-bottom: 1rem;
}