* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: repeating-conic-gradient(#111 90deg, #1a1a1a 90deg 180deg, #111 180deg 270deg);
    background-size: 100px 100px;
    background-repeat: round;
}

.box {
    position: relative;
    width: 400px;
    height: 50px;
}

.box h2 {
    position: absolute;
    top: -50px;
    font-size: 1.75rem;
    color: white;
    font-weight: 500;
}

#text {
    transition: .4s;
    animation: pulse 2s linear infinite;
    animation-play-state: paused;
}

@keyframes pulse {
    from, to {
        font-size: 1.75rem;
        text-underline-offset: 0px;
    }
    50% {
        text-underline-offset: 5px;
        letter-spacing: 2px;
        font-size: 1.875rem;
    }
}

.box input {
    position: absolute;
    inset: 2px;
    z-index: 10;
    font-size: 1rem;
    border: none;
    outline: none;
    padding: 10px 15px;
    background: repeating-conic-gradient(#111 90deg, #333 90deg 180deg, #111 180deg 270deg);
    background-size: 20px 20px;
    background-repeat: round;
    color: white;
    transition: .3s;
}

.box input:focus {
    background: repeating-conic-gradient(#111 90deg, #444 90deg 180deg, #111 180deg 270deg);
    background-size: 20px 20px;
    background-repeat: round;
}

.box input::placeholder {
    color: silver;
    transition: .3s;
}

.box input:focus::placeholder {
    transform: translateY(-32px);
}

.box .password-strength {
    position: absolute;
    inset: -2px;
    background: #1115;
}

.box .password-strength:nth-child(3) {
    filter: blur(5px);
}

.box .password-strength:nth-child(4) {
    filter: blur(10px);
}

.buttons-box {
    position: absolute;
    top: 64px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

button {
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: #505050;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: .25s;
}

button:hover {
    transform: translateY(-2px);
    background-color: #606060;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.12);
}

button:active {
    transform: translateY(0) scale(0.98);
    transition: .1s;
}