*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(45deg, #02312c, #428585);
}

fieldset {
    background-color: #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    padding: 50px 40px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, .25);
    border: none
}

legend {
    text-align: center;
    font-size: 36px;
    position: relative;
    top: -30px;
}

label {
    font-weight: 500;
    color: #101030;
}

input {
    display: block;
    width: 100%;
    margin-top: 8px;
    padding: 12px;
    border-radius: 6px;
    outline: none;
    color: #428585;
}

#password {
    margin-bottom: 30px;
}

input[type="password"] {
    border: 2px solid #c2c2c2;
}

input[type="button"] {
    background-color: #2e6b8f;
    border: none;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 20px;
    transition: .3s;
}

input[type="button"]:hover {
    box-shadow: inset 400px 0 10px hsla(192, 92%, 45%, 0.8);
}

p {
    font-size: 14px;
    margin: 16px 0;
    display: inline-block;
    padding: 6px 20px;
    color: #ccc;
}

h4 {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate( -50% );
    font-weight: 500;
}