@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

:root {
    --primary: #4361ee;
    --primary-dark: #3a56d4;
    --secondary: #3f37c9;
    --text: #2b2d42;
    --light-gray: #e2e3e9;
    --medium-gray: #bfc5c5;
    --dark-gray: #6c757d;
    --white: #f8f9fa;
    --shadow: 0 4px 8px rgb(0 0 0 / 0.15);
    --border-radius: 8px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text);
    background-color: var(--light-gray);
    line-height: 1.5;
}

.app-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.app-header {
    text-align: center;
    margin-bottom: 30px;

    h1 {
        font-size: clamp(1.5rem, 5vw, 2.5rem);
        color: var(--primary);
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}

.subtitle {
    color: var(--dark-gray);
    font-size: 1.125rem;
}

.app-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    /* flex: 1; */

    @media (width <= 768px) {
        grid-template-columns: 1fr;
    }
}

.upload-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.drop-zone {
    border: 2px dashed var(--dark-gray);
    border-radius: var(--border-radius);
    padding: 40px 20px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: var(--white);
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    i {
        font-size: 3rem;
        color: var(--primary);
    }
    h3 {
        font-size: 1.3rem;
        color: var(--text);
    }
    p {
        color: var(--dark-gray);
        text-wrap: pretty;
    }
    input {
        display: none;
    }
}

.drop-zone:is(:hover, .active) {
    border-color: var(--primary);
    background-color: rgb(67 97 238 / 0.05);
}

.file-info {
    padding: 15px;
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow),
    inset var(--shadow);
    display: none;

    &.active {
        display: block;
    }
}

.watermark-options {
    background-color: var(--white);
    padding: 25px;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);

    h2 {
        margin-bottom: 20px;
        font-size: 1.5rem;
        color: var(--primary);
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

.form-group {
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    gap: 20px;
}

.form-row .form-group {
    flex: 1;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
}

input[type="text"],
input[type="color"],
select {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid var(--medium-gray);
    border-radius: var(--border-radius);
    font-family: inherit;
    font-size: 1rem;
    transition: all 0.3s ease;
}

input[type="color"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 1px solid var(--light-gray);
  cursor: pointer;
  height: 25px;
  padding: 0;
  transition: .3s ease-in;
  transition-behavior: allow-discrete;

  @starting-style  {
    outline: 1px solid rgb(0 0 0 / 0.3);
  }

  &:hover {
    transform: scale(1.1);
    box-shadow: var(--shadow);
    border-radius: 6px;
    corner-shape: bevel;
    outline-offset: 12px;
    outline: 1px solid transparent;
  }
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-color-swatch{
  border: 1px solid var(--light-gray);
  padding: 0;
}

::-moz-color-swatch,
::-moz-focus-inner{
  border: 0;
}

::-moz-focus-inner{
  padding: 0;
}

:is(input[type="text"], select):is(:focus, :focus-visible) {
    outline: none;
    border-color: var(--primary);
    box-shadow: 0 0 0 2px rgb(67 97 238 / 0.2),
    inset 0 0 0 2px rgb(67 97 238 / 0.2);
}

input[type="range"] {
    -webkit-appearance: none;
    -moz-apperance: none;
    appearance: none;
    border-radius: 6px;
    height: 8px;
    outline: none;
    padding: 0;
    margin: 0;
    width: calc(100% - 52px);
    margin-right: 10px;
    border: 1px solid var(--medium-gray);
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--primary);
    border-radius: 50%;
    border: 1px solid var(--dark-gray);
    height: 15px;
    width: 15px;
    cursor: ew-resize;
    transition: .25s;
}

input[type='range']::-webkit-slider-thumb:hover {
    background-color: var(--secondary);
    scale: 1.1;
    box-shadow: 0 0 5px var(--secondary);
}

select,
::picker(select) {
  appearance: base-select;
  cursor: pointer;
}

::picker(select) {
  border-radius: 8px;
  border: 1px solid var(--light-gray);
}

select::picker-icon {
  font-size: 16px;
  color: var(--primary);
  transition: rotate 0.3s;
}

select:open::picker-icon {
  rotate: 180deg;
  color: lime;
}

select:open {
    border: var(--primary);
    box-shadow: 0 0 0 2px rgb(67 97 238 / 0.2),
    inset 0 0 0 2px rgb(67 97 238 / 0.2);
}

option {
  border: 1px solid var(--medium-gray);
  background: var(--primary);
  padding: 2px 0 2px 12px;
  color: var(--light-gray);
  padding-right: 18px;
  cursor: pointer;
  transition: background 0.3s ease;
}

option:is(:hover, :focus) {
  background: var(--secondary);
}

option:checked {
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--light-gray);
  background-color: var(--secondary);
}

option::checkmark {
  color: lightgreen;
  font-size: 1.5rem;
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    input {
        width: auto;
        margin-right: 10px;
    }
    label {
        margin-bottom: 0;
        cursor: pointer;
    }
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border: 1px solid lightgray;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    background: #e3fefe;
    cursor: pointer;
    font-family: FontAwesome;
}

input[type="checkbox"]:checked {
    background: var(--primary);
    border-color: var(--secondary);
    transition: all .25s;
}

input[type="checkbox"]::before {
    content: '\f00c';
    font-family: 'Font Awesome 7 Free';
    font-size: 12px;
    font-weight: bold;
    color: white;
    transition: opacity .25s;
}

input[type="checkbox"]:checked::before {
    transition: opacity .25s;
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid var(--primary);
  outline-offset: max(2px, 0.15em);
}

.option-item:has(input[type="checkbox"]:checked) {
    background-color: rgb(from var(--primary) r g b / 0.2);
    border: 1px solid var(--gray);
}

.btn-primary {
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;

    &:hover {
        background-color: var(--primary-dark);
        box-shadow: var(--shadow);
        transform: scale(1.02);
    }
    &:active {
        transform: scale(1);
    }
    &:disabled {
        background-color: var(--dark-gray);
        cursor: not-allowed;
    }
}

.status-message {
    margin-top: 15px;
    border-radius: var(--border-radius);
    text-align: center;
    opacity: 0;
    height: 0px;
    transition: height 0.3s, opacity 0.3s, padding 0.3s;
    interpolate-size: allow-keywords;
    transition-behavior: allow-discrete;

    &.success {
        background-color: rgb(40 167 69 / 0.2);
        color: #28a745;
        padding: 10px;
        opacity: 1;
        height: min-content;
    }
    &.error {
        background-color: rgb(220 53 69 / 0.2);
        color: #dc3545;
        padding: 10px;
        opacity: 1;
        height: min-content;
    }
}

footer {
    margin-top: 30px;
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid var(--medium-gray);
    color: var(--dark-gray);
    font-size: 0.875rem;

    span {
        color: red;
        font-size: 1rem;
    }
    abbr {
        color: var(--primary);
        letter-spacing: 0.5px;
        cursor: default;
        text-underline-offset: 2px;
    }
}

::-webkit-scrollbar {
    width: 8px;
    background-color: var(--medium-gray);
    border: 1px dotted var(--dark-gray);
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary);
}