@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  interpolate-size: allow-keywords;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #251f41, #927dfc, #251f41);
  overflow: hidden;
}

.wrapper {
  width: 470px;
  height: 280px;
  max-width: 96%;
  padding: 30px;
  background: linear-gradient(135deg, #777, #ddd, #777);
  border-radius: 10px;z-index: 11;
  transition: height 0.3s ease-in;
}

.wrapper.active {
    height: auto;
}

.wrapper .upload-box {
  height: 225px;
  border: 2px dashed #606060;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}

.wrapper.active .upload-box {
    border: none;
}

.upload-box p {
    bottom: 60px;
  font-size: 1.25rem;
  margin-top: 20px;
}

.upload-box ion-icon {
  font-size: 3rem;
  color: navy;
}

.upload-box img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 6px;
    position: absolute;
    bottom: 0;
}

.wrapper.active .upload-box p {
    display: none;
}

.wrapper.active .upload-box ion-icon {
    display: none;
}

.wrapper.active .upload-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.wrapper .content {
    opacity: 0;
  margin-top: 20px;
  pointer-events: none;
}

.wrapper.active .content {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s 0.5s ease-in;
}

.content .row {
  display: flex;
  justify-content: space-between;
}

.content .row .column {
  width: calc(100% / 2 - 15px);
}

.row .column label {
  font-size: 1.1rem;
}

.sizes .column input {
  width: 100%;
  height: 40px;
  padding: 0 15px;
  margin-top: 8px;
  font-size: 1.1rem;
  border: 1px solid #515186;
  outline: none;
  border-radius: 6px;
  transition: 0.25s;
}

.sizes .column input:where(:focus, :focus-within) {
  padding: 0 12px;
  border: 1px solid navy;
  box-shadow: 0 0 5px navy;
}

.content .checkboxes {
  margin-top: 20px;
}

.checkboxes .column {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.checkboxes .column input {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  accent-color: navy;
}

abbr {
  text-decoration: none;
  border-bottom: 1px dotted #222;
  cursor: help;
  position: relative;
}
abbr:hover::after {
  content: attr(title);
  font-size: 0.8em;
  color: #222;
  position: absolute;
  z-index: 1;
  background-color: #fff;
  padding: 2px 4px;
  border: 1px solid #ddd;
  border-radius: 2px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 6px;
}

.content .download-btn {
  width: 100%;
  color: #fff;
  background-color: navy;
  outline: none;
  border: none;
  border-radius: 6px;
  font-size: 1.2rem;
  padding: 12px 0;
  margin: 30px 0 10px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s;
}

.content .download-btn:hover {
  border-radius: 16px 16px 0 0;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px -6px rgba(0, 0, 128, 0.8), inset 0 -48px 0 rgb(51, 51, 255);
}

h4 {
  position: fixed;
  bottom: 0;
  color: #aaa;
  font-size: 14px;
  font-weight: 400;
  cursor: default;
  padding-bottom: 10px;
  text-wrap: pretty;
}

h4 em {
  color: skyblue;
}

.sec {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
}

.box {
    position: absolute;
    color: #0005;
}

.box::before {
    content: '\f005';
    position: absolute;
    font-family: 'fontAwesome';
}

.box.animate {
    color: #ff0;
    text-shadow: 0 0 5px #ff0,
    0 0 20px #ff0,
    0 0 50px #ff0;
}