* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: radial-gradient(#002346, #000711);
}

.wrapper {
  width: 65vmin;
  height: 70vmin;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  overflow: hidden;
  border-radius: 5px;
  background: #293447;
}

.game-details {
  color: #b8c6dc;
  font-size: 1.25rem;
  font-weight: 500;
  padding: 20px 28px;
  display: flex;
  border-bottom: 1px solid #b8c6dc;
  justify-content: space-between;
}

.play-board {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
  /* background: #212837; */
}

.play-board .food {
  background: #ff003d;
}

.play-board .head {
  background: #60cbff;
  outline: 1px solid #ffffff;
}

.controls {
  display: none;
  justify-content: space-between;
}

.controls i {
  padding: 25px 0;
  color: #b8c6dc;
  text-align: center;
  cursor: pointer;
  font-size: 1.3rem;
  width: calc(100% / 4);
  border-right: 1px solid #171b26;
}

h4 {
    font-size: 14px;
    font-weight: 200;
    color: #c9c9c9;
    cursor: default;
    justify-self: center;
    align-self: flex-end;
    margin-block-end: 12px;
    text-wrap: pretty;
}

h4 em {
    color: #daa644;
}

@media screen and (max-width: 800px) {
  .wrapper {
    width: 90vmin;
    height: 110vmin;
  }
  .game-details {
    font-size: 1rem;
    padding: 15px 28px;
  }
  .controls {
    display: flex;
  }
  .controls i {
    padding: 15px 0;
    font-size: 1rem;
  }
}
