@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
    --bg-color: #0d142e;
    --blue-color: rgb(0, 170, 255);
    --white-color: #fff;
    --text-shadow-blue: 0 0 10px var(--blue-color),
    0 0 20px var(--blue-color),
    0 0 30px var(--blue-color);
    --text-shadow-white: 0 0 10px var(--white-color),
    0 0 20px var(--white-color),
    0 0 30px var(--white-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    interpolate-size: allow-keywords;
    font-family: "Varela Round", sans-serif;
}

body {
    overflow: hidden;
}

.screens {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.menu {
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-color);
    padding: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 20px);
    max-width: 500px;
    border: 3px solid var(--white-color);
    box-shadow: 0 0 10px var(--blue-color),
    0 0 20px var(--blue-color),
    0 0 30px var(--blue-color);
    transition: all .3s ease-in-out;
}

.menu.active {
    top: 50%;
}

.title,
.score {
    font-size: 60px;
    color: var(--white-color);
    margin-bottom: 20px;
    letter-spacing: 4px;
    text-align: center;
    text-shadow: var(--text-shadow-blue);
}

.score {
    font-size: 30px;
}

.btn {
    padding: 15px 30px;
    width: 100%;
    border-radius: 10px;
    background-color: transparent;
    color: var(--bg-color);
    text-shadow: var(--text-shadow-white);
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-text-stroke: 1px var(--white-color);
    border: 3px solid var(--white-color);
    margin-top: 20px;
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover {
        color: var(--white-color);
        text-shadow: var(--text-shadow-blue);
        letter-spacing: 3px;
    }

    &:active {
        transform: scale(0.97);
    }
}

.info {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.info i {
    color: var(--blue-color);
    font-size: 20px;
    cursor: pointer;
    transition: .15s;

    &:hover {
        scale: 1.1;
    }
}

.info p {
    color: var(--white-color);
    background-color: var(--bg-color);
    position: absolute;
    bottom: -100%;
    right: 0;
    white-space: nowrap;
    height: 0;
    pointer-events: none;
    opacity: 0;
    transition: height .3s, opacity .3s;
}

.info i:hover ~ p {
    opacity: 1;
    height: max-content;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
}

.icon {
    position: absolute;
    top: -100%;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: var(--blue-color);
    border-radius: 5px;
    padding: 5px;
    border: none;
    color: var(--white-color);
    z-index: 1;
    transition: all .2s ease-in-out;

    &:hover {
        transform: scale(1.1);
        text-shadow: var(--text-shadow-white);
    }
}

.icon.active {
    top: 20px;
}

@media screen and (max-width: 500px) {
    .menu {
        padding: 50px 20px;
    }
    .btn {
        font-size: 20px;
    }
    .title {
        font-size: 40px;
    }
    .score {
        font-size: 20px;
    }
    .icon {
        right: 10px;
        width: 20px;
        height: 20px;
        padding: 2px;
    }
    .icon.active {
        top: 10px;
    }
}