@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gabarito', sans-serif;
}

:root {
    --pale-purple: #e8d7f1ff;
    --pomp-and-power: rgb(124, 80, 128);
    --tekhelet: #4a306dff;
    --prussian-blue: #0e273cff;
    --light-color: #ccc;
    --input-bg-color: #aebecc80;
    --muted-color: #708090;
    --border-color: #ddd;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    appearance: none;
}

::selection {
    background: var(--pale-purple);
    color: var(--tekhelet);
}

body {
    display: grid;
    place-content: center;
    min-height: 100vh;
    color: var(--prussian-blue);
    background: linear-gradient(135deg, #1e2125, var(--prussian-blue));
}

main {
    display: grid;
    place-content: center;
}

.container {
    background: var(--light-color);
    width: 90%;
    min-width: 480px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 10px 0 rgba(255, 255, 255, 0.25);
}

.container h1 {
    text-align: center;
    color: var(--pomp-and-power);
    margin-bottom: 10px;
}

.calculator {
    display: grid;
    gap: 20px;
    margin-bottom: 20px;
}

.calculator > div > label {
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
}

.bill-amount input {
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
    border: none;
    outline: none;
    background: var(--input-bg-color);
    padding: 10px;
    border-radius: 6px;
    color: var(--prussian-blue);
}

.tips {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.tip {
    height: 50px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    font-size: 1.25rem;
    transition: all .3s;
}

.tip:hover {
    transform: scale(1.04);
    filter: brightness(110%);
}

.tip label {
    background: var(--pale-purple);
    color: var(--tekhelet);
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: all .3s;
}

.tip:has(input:checked) label {
    background: var(--pomp-and-power);
    color: var(--pale-purple);
}

.tip input[type='radio'] {
    appearance:  none;
}

.tip input[type='number'] {
    position: absolute;
    inset: 0;
    text-align: center;
    font-size: inherit;
    border: none;
    outline: none;
    display: none;
    background: var(--pomp-and-power);
    color: var(--light-color);
}

.tip:has(input:checked) input[type='number'] {
    display: block;
}

.guest-count label[for='guestCount'] {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.guest-count output {
    display: flex;
    align-items: center;
    gap: 6px;
}

.guest-count output::after {
    font-family: "Font Awesome 5 Free";
    font-size: 1rem;
    color: var(--pomp-and-power);
    content: '\f007';
}

.guest-count input {
    appearance: none;
    width: 100%;
    height: 5px;
    background: var(--input-bg-color);
    cursor: pointer;
    margin-bottom: 10px;
}

.guest-count input::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--pomp-and-power);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.actions {
    display: flex;
    gap: 10px;
}

.actions button {
    width: 100%;
    cursor: pointer;
    border: none;
    font-size: 1.25rem;
    padding: 12px;
    font-weight: 500;
    border-radius: 6px;
    background: var(--prussian-blue);
    color: var(--light-color);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    transition: all .3s;
}

.actions button:last-child {
    background: var(--tekhelet);
}

.actions button:hover {
    background: var(--pomp-and-power);
}

.result {
    border: 1px solid var(--border-color);
    border-radius: 6px;
    font-size: 1.25rem;
}

.result ul {
    list-style-type: none;
    display: grid;
    gap: 10px;
    margin: 10px;
}

.result ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
}

.result small {
    font-size: .75rem;
    font-weight: 500;
    color: var(--muted-color);
}

.result span {
    font-size: 1.5rem;
    color: var(--pomp-and-power);
}

h4 {
    color: var(--light-color);
    font-weight: 200;
    text-align: center;
    padding-top: 100px;
    transform: translateX(-10%);
}