@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Paytone+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    interpolate-size: allow-keywords;
}

body {
    background: #131418;
    font-family: "Amatic SC", sans-serif;
    /* font-family: "Paytone One", sans-serif; */
    display: grid;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    position: relative;
    align-self: flex-end;
    padding: 15px;
    height: 580px;
    width: 400px;
    margin-bottom: 12px;
    background: #fec601;
    border-radius: 4px;
    overflow: hidden;
    transition: all .25s;
}

.container h2 {
    text-align: center;
    font-size: 34px;
    letter-spacing: 2px;
    word-spacing: 3px;
    padding-bottom: 14px;
    border-bottom: 1px solid #3c1802;
    font-family: "Paytone One", sans-serif;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.container .timer-box,
.container .score-box {
    height: 40px;
    width: 120px;
    background: #a4550a;
    padding: 8px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    color: white;
    float: left;
    margin-left: 48px;
    margin-top: 20px;
    font-size: 20px;
}

.container .timer-box {
    width: 100px;
}

.container .timer-box .timer,
.container .score-box .score {
    height: 30px;
    width: 48px;
    background: #3c1802;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-left: 8px;
    position: relative;
    left: 20px;
    font-family: "Paytone One", sans-serif;
}

.container .timer-box .timer {
    left: 2px;
    width: 100px;
}

.container .score-box .score {
    left: 6px;
}

.container .timer-box i,
.container .score-box .score-text {
    margin-left: 6px;
    font-size: 18px;
}

.container .score-box .score-text {
    font-size: 24px;
    font-weight: bold;
}

.container .all-items {
    height: 350px;
    width: 100%;
    border-top: 1px solid #3c1802;
    position: relative;
    top: 80px;
}

.container .all-items .item {
    height: 80px;
    width: 80px;
    background: #3c1802;
    border-radius: 50%;
    float: left;
    margin-left: 32px;
    margin-top: 20px;
    position: relative;
    top: -40px;
}

.container .all-items .item .whack-text {
    font-family: "Paytone One", sans-serif;
    position: absolute;
    bottom: -15px;
    color: transparent;
    background: linear-gradient(to right, red, orangered);
    -webkit-background-clip: text;
    background-clip: text;
    letter-spacing: 2px;
    z-index: 1;
    margin-left: 6px;
    user-select: none;
    animation: appendWhack .3s cubic-bezier(0.25, 2.5, 0.45, 0.94) forwards;
}

@keyframes appendWhack {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.container .all-items .item .hole {
    height: 72px;
    width: 72px;
    background: #a4550a;
    border-radius: 50%;
    position: relative;
    top: 8px;
    left: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.container .all-items .item .hole img {
    height: 70px;
    width: auto;
    position: absolute;
    bottom: -68px;
    transform: scale(0.2);
    transition: bottom .2s, transform .2s;
    user-select: none;
}

.container .all-items .item .hole img.mole-appeared {
    bottom: -15px;
    transform: scale(1);
}

.start-game-btn {
    all: unset;
    height: 40px;
    width: 140px;
    border: 1px solid #3c1802;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: .25s;
}

.start-game-btn:hover {
    transform: translateY(-3px) translateX(-50%) scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2),
    inset 0 6px 8px rgba(0, 0, 0, 0.2),
    inset 0 -6px 8px rgba(0, 0, 0, 0.2);
}

.start-game-btn:active {
    transform: translateX(-50%) scale(1);
}

.container .game-over {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    transition: .3s;
}

.container .game-over h3,
.container .game-over .your-score-txt,
.container .game-over .game-over-score {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 150px;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.container .game-over .your-score-txt {
    font-size: 30px;
    top: 200px;
}

.container .game-over .game-over-score {
    top: 250px;
    font-size: 50px;
    font-family: 'Paytone One', serif;
    letter-spacing: 4px;
}

.container .game-over button {
    all: unset;
    font-size: 30px;
    font-weight: bold;
    padding: 6px 30px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    float: left;
    margin-left: 30px;
    cursor: pointer;
    position: absolute;
    bottom: 180px;
    border-radius: 6px;
    transition: .25s;
}

.container .game-over .play-again-btn {
    right: 30px;
}

.container .game-over button:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(255, 251, 0, 0.2),
    inset 0 6px 8px rgba(255, 251, 0, 0.2),
    inset 0 -6px 8px rgba(255, 251, 0, 0.2);
    color: #fec601;
}

.container .game-over button:active {
    transform: scale(1);
    transition: .15s;
}

.footer {
    position: relative;
    align-self: flex-end;
    bottom: 12px;
    color: #a4550a;
    text-align: center;
    font-weight: 100;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    /* z-index: -1; */
}

abbr {
    font-size: 14px;
    letter-spacing: 0.5px;
    text-underline-offset: 2px;
    cursor: default;
    color: #fec601;
}