* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(160deg, #758fa8, #e0f0ff);
    color: #003366;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 20px;
    text-align: center;
    overflow-x: hidden;
}

h1 {
    color: #0055aa;
    margin-block: 30px 12px;
}

#scrambledWord {
    font-size: 2.25rem;
    font-weight: bold;
    letter-spacing: 3px;
    color: #0066cc;
    margin: 20px;
}

input {
    padding: 10px;
    font-size: 1.25rem;
    border: 1px solid #0066cc;
    border-radius: 5px;
    outline: none;
    transition: .25s;
}

input::placeholder {
    font-size: 1rem;
    transition: .3s;
}

input:where(:focus, :focus-within) {
    border-width: 2px;
}

input:where(:focus, :focus-within)::placeholder {
    transform: translateY(-32px);
}

button {
    padding: 10px 20px;
    font-size: 1.1rem;
    margin: 10px 5px;
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;

    &:hover {
        background-color: #005c99;
        box-shadow: 0 4px 10px #0066cc80;
    }
    &:active {
        scale: 0.98;
        transition: 0.1s;
    }
}

#message {
    margin-block-start: 20px;
    font-size: 1.4rem;
    color: #0073e6;
}

#score,
#timer,
#level {
    margin-block-start: 10px;
    font-size: 1.25rem;
    color: #004080;
}

p {
    margin-block-start: 12px;
}

.confetti {
    position: absolute;
    opacity: 0.7;
    z-index: 10;
    pointer-events: none;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    animation: fall 1.5s linear forwards;
}

@keyframes fall {
    to {
        transform: translateY(800px) rotate(360deg);
        opacity: 0;
    }
}