@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --header-height: 3.5rem;

  --first-color: hsl(358, 54%, 48%);
  --first-color-alt: hsl(358, 54%, 46%);
  --first-color-light: hsl(358, 50%, 58%);
  --title-color: hsl(34, 8%, 16%);
  --text-color: hsl(34, 8%, 40%);
  --white-color: hsl(34, 64%, 98%);
  --gray-color: hsl(34, 8%, 85%);
  --body-color: hsl(34, 100%, 94%);
  --body-color-alt: hsl(34, 70%, 88%);
  --container-color: hsl(34, 32%, 98%);

  --body-font: "Montserrat", sans-serif;
  --second-font: "Lora", serif;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (width >= 1150px) {
  :root {
    --biggest-font-size: 3.5rem;
    --bigger-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
input,
button {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

input,
button {
    border: none;
    outline: none;
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    font-family: var(--second-font);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1120px;
    margin-inline: 1rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 5rem 1rem;
}

.section__title {
    text-align: center;
    font-size: var(--bigger-font-size);
    margin-bottom: 1rem;

    span {
        color: var(--first-color);
    }
}

.section__subtitle {
    display: block;
    text-align: center;
    font: var(--font-semi-bold) var(--small-font-size) var(--second-font);
    color: var(--first-color);
    margin-bottom: 0.5rem;
}

.main {
    overflow: hidden;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: var(--body-color);
    z-index: var(--z-fixed);
    transition: box-shadow .4s;
}

.nav {
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
    font-family: var(--second-font);
}

.nav__toggle {
    width: 32px;
    height: 32px;
    background-color: var(--first-color);
    color: var(--white-color);
    border-radius: .5rem;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform .2s;

    &:hover {
        transform: scale(1.1);
    }
    &:active {
        transform: scale(1);
    }
}

@media screen and (width <= 1150px) {
    .nav__menu {
        position: fixed;
        top: -120%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        box-shadow: 0 8px 16px hsl(0 0% 0% / .15);
        padding-block: 4rem;
        border-radius: 0 0 1rem 1rem;
        transition: top .4s;
    }
}

.nav__list {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.nav__link {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    font-size: var(--h3-font-size);
    transition: color .4s;
    position: relative;

    &:hover {
        color: var(--first-color);
    }
}

.nav__link::before {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: transparent;
    top: 50%;
    left: -40%;
    transform: translateY(-50%);
    user-select: none;
    transition: .3s;
}

.nav__link:hover::before {
    left: -18%;
    background-color: var(--first-color);
}

.nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    display: inline-flex;
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
}

.show-menu {
    top: 0;
}

.home__container {
    padding-top: 1.5rem;
    row-gap: 3rem;
}

.home__data {
    position: relative;
    text-align: center;
}

.home__title {
    font-size: var(--biggest-font-size);
}

.home__title span {
    color: var(--first-color);
}

.home__description {
    margin-block: 1rem 2rem;
    text-wrap: pretty;
}

.home__data img,
.home__text {
    position: absolute;
}

.home__flower-1 {
    width: 20px;
    top: -1.5rem;
    left: 4rem;
}

.home__flower-2 {
    width: 20px;
    left: 1.25rem;
    bottom: 3rem;
}

.home__leaf-1 {
    width: 30px;
    top: 0;
    right: 0;
}

.home__leaf-2 {
    width: 30px;
    left: 4rem;
    bottom: -2rem;
}

.home__text {
    left: 0;
    top: -1.75rem;
    font-size: 12rem;
    font-weight: var(--font-medium);
    color: var(--body-color-alt);
    z-index: -1;
}

.home__images {
    position: relative;
    justify-self: center;
}

.home__blob {
    width: 300px;
    height: 300px;
    background-color: var(--first-color);
    border-radius: 50%;
    justify-self: center;
}

.home__images img {
    position: absolute;
}

.home__img-1 {
    width: 230px;
    left: -1.5rem;
    bottom: 3rem;
}

.home__img-2 {
    width: 120px;
    top: .5rem;
    left: 2rem;
}

.home__img-3 {
    width: 90px;
    top: 5rem;
    right: 3rem;
}

.home__img-4 {
    width: 60px;
    top: 1.25rem;
    right: 4.5rem;
}

.home__img-5 {
    width: 50px;
    right: 1.5rem;
    bottom: 7rem;
}

.home__img-6 {
    width: 150px;
    right: 4rem;
    bottom: -.75rem;
}

.home__flower-3 {
    width: 20px;
    top: -1rem;
    right: 1erm;
}

.home__flower-4 {
    width: 20px;
    left: 0;
    bottom: 0;
}

.home__leaf-3 {
    width: 25px;
    right: 1rem;
    bottom: 1.5rem;
}

.button {
    display: inline-flex;
    background-color: var(--first-color);
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
    padding: 1rem 2rem;
    border-radius: .5rem;
    transition: background-color .4s, box-shadow .4s, transform .4s;

    &:hover {
        background-color: var(--first-color-alt);
        box-shadow: 0 8px 24px hsl(358 54% 24% / 0.3);
        transform: translateY(-4px) scale(1.02);
    }
    &:active {
        transform: translateY(-2px) scale(1);
        transition: transform .2s;
    }
}





@media screen and (width <= 320px) {
    .home__blob {
        width: 280px;
        height: 280px;
    }
}

@media screen and (width >= 540px) {
    .home__container {
        grid-template-columns: 400px;
        justify-content: center;
    }
}

@media screen and (width >= 1150px) {
    .container {
        margin-inline: auto;
    }
    .section {
        padding-block: 7rem 5rem;
    }
    .section__title {
        font-size: var(--biggest-font-size);
    }
    .section__subtitle {
        font-size: var(--h3-font-size);
    }
    .nav {
        height: calc(var(--header-height) + 2rem);
    }
    .nav__toggle,
    .nav__close {
        display: none;
    }
    .nav__list {
        flex-direction: row;
        column-gap: 4rem;
    }
    .home__container {
        grid-template-columns: 525px 580px;
        align-items: center;
        column-gap: 1rem;
        padding-top: 4rem;
    }
}