*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 45px;
    font-weight: 500;
}

body {
    background: radial-gradient(circle at bottom left, #0e6ffc, #05285e) ;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.wrapper {
    box-sizing: content-box;
    background: #b6b6b6;
    height: 70px;
    padding: 50px 30px;
    display: flex;
    border-radius: 8px;
    box-shadow: 0 20px 25px rgba(0, 0, 0, .2),
    0 0 50px rgba(0, 0, 0, .4) inset;
}

.words {
    overflow: hidden;
}

span {
    display: block;
    height: 100%;
    padding-left: 10px;
    color: #0e6ffc;
    box-shadow: 0 0 10px rgba(5, 41, 94, 0.2),
    0 0 20px rgba(5, 41, 94, 0.3);
    animation: spin-words 12s  linear infinite;
}

@keyframes spin-words {
    10% {
        transform: translateY(-110%);
    }
    25% {
        transform: translateY(-98%);
    }
    35% {
        transform: translateY(-210%);
    }
    50% {
        transform: translateY(-198%);
    }
    60% {
        transform: translateY(-310%);
    }
    75% {
        transform: translateY(-298%);
    }
    85% {
        transform: translateY(-410%);
    }

    100% {
        transform: translateY(-398%);
    }
}