* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: #222;
}

.text {
    position: relative;
    text-align: center;
    color: #fff;
    max-width: 320px;
    cursor: default;
}

.text span {
    position: relative;
    display: inline-block;
    transition: .5s ease;
}