@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Creepster", serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
}

ul {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 20px;
}

ul li {
    position: relative;
    list-style: none;
}

ul li a {
    position: relative;
    font-size: 3em;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    transition: .5s;
}

ul li a:hover {
    color: #69ff41;
}