@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    interpolate-size: allow-keywords;
}

body {
    color: #fff;
    background-color: black;
    overflow: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    filter: drop-shadow(0 0 5px #09001d);
}

.navbar a  {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #c40094;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.main {
    min-height: 100vh;
    /* background: url('background.jpg') no-repeat; */
    background-size: cover;
    background-position: center;
    pointer-events: auto;
    transition: filter .3s ease-in;
}

.main.active {
    filter: blur(15px);
    pointer-events: none;
}

.container {
    display: flex;
    height: 100vh;
    width: 200%;
}

.home {
    position: relative;
    left: -50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-content h1 {
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-size: 70px;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    animation: titleAnimation 5s linear alternate infinite;
}

@keyframes titleAnimation {
    to {
        font-size: 80px;
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
    }
}

.home-content p {
    font-size: 16px;
    text-align: left;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    text-wrap: pretty;
    margin-bottom: 30px;
}

.home-content .start-btn {
    width: 190px;
    height: 55px;
    background: #c40094;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #c40094;
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}

.home-content .start-btn:hover {
    background: #09001d;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.4);
    transform: translateY(-3px) scale(1.03);
}

.home-content .start-btn:active {
    transform: translateY(0) scale(1);
}

.popup-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 150%) scale(0.1);
    width: 0px;
    height: 0;
    background: linear-gradient(135deg, #aaa, #fff, #aaa);
    border-image: linear-gradient(135deg, #c40094, orangered, #c40094) 1 / 5px / 10px;
    border-radius: 6px;
    padding: 10px 25px;
    opacity: 0;
    pointer-events: none;
    transition: width 0.3s, height 0.3s, opacity 0.3s, transform 0.3s;
}

.popup-info.active {
    opacity: 1;
    pointer-events: auto;
    width: 500px;
    height: auto;
    transform: translate(-50%, -50%) scale(1);
}

.popup-info h2 {
    font-size: 50px;
    -webkit-text-stroke: 2px #c40094;
    color: transparent;
}

.popup-info .info {
    display: inline-block;
    font-size: 1rem;
    color: #333;
    font-weight: 500;
    margin: 4px 0;
}

.popup-info .btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #999;
    margin-top: 12px;
    padding: 20px 0 8px;
}

.popup-info .btn-group .info-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 45px;
    background: #c40094;
    outline: none;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: .3s;
}

.popup-info .btn-group .info-btn:nth-child(1) {
    background: transparent;
    color: #c40094;
}

.popup-info .btn-group .info-btn:nth-child(1):hover {
    background: #c40094;
    color: #fff;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
    transform: translateY(-3px) scale(1.03);
}

.popup-info .btn-group .info-btn:nth-child(2):hover {
    background: #950170;
    border-color: #950170;
    transform: translateY(-3px) scale(1.03);
}

.quiz-section {
    position: relative;
    left: -50%;
    width: 100%;
    background: linear-gradient(135deg, #09001d, #281849, #09001d);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s ease-in-out;
    transition-delay: 0.2s;
    z-index: 100;
}

.quiz-section.active {
    left: 0;
}

.quiz-section .quiz-box {
    position: relative;
    width: 500px;
    background: rgba(0, 0, 0, 0.1);
    border-image: linear-gradient(135deg, #c40094, orangered, #c40094) 1 / 2px / 10px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    backdrop-filter: blur(10px);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.5) translateY(300px);
}

.quiz-section .quiz-box.active {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1) translateY(0);
    transition: 1s ease-in;
    transition-delay: 1s;
}

.quiz-section .quiz-box::before {
    content: '';
    position: absolute;
    top: -60px;
    left: -60px;
    border-radius: 30% 70% 60% 40% / 40% 80% 20% 60%;
    width: 120px;
    height: 120px;
    background: linear-gradient(135deg, #09001d, #281849, #09001d);
    z-index: -1;
}

.quiz-section .quiz-box::after {
    content: '';
    position: absolute;
    bottom: -60px;
    right: -60px;
    border-radius: 30% 70% 60% 40% / 40% 80% 20% 60%;
    width: 120px;
    height: 120px;
    background: linear-gradient(135deg, #09001d, #281849, #09001d);
    z-index: -1;
}

.quiz-box h1 {
    font-size: 32px;
    text-align: center;
    background: linear-gradient(45deg, transparent, #c40094, transparent);
    border-radius: 6px;
}

.quiz-box .quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid #c40094;
    margin-bottom: 20px;
}

.quiz-header span {
    font-size: 18px;
    font-weight: 500;
}

.quiz-header .header-score {
    background: linear-gradient(45deg, transparent, #c40094, transparent);
    border-radius: 4px;
    padding: 4px 8px;
}

.quiz-box .question-text {
    font-size: 24px;
    font-weight: 600;
    margin-top: 12px;
}

.option-list .option {
    width: 100%;
    padding: 12px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    font-size: 17px;
    margin: 15px 0;
    cursor: pointer;
    transition: .2s;
}

.option-list .option:hover {
    background: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
    transition: 0s;
}

.quiz-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #c40094;
    padding-top: 20px;
    margin-top: 20px;
}

.question-total {
    font-size: 16px;
    font-weight: 600;
}

.next-btn {
    width: 100px;
    height: 45px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.1);
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.3);
    font-weight: 600;
    cursor: pointer;
    /* pointer-events: none; */
    transition: .3s;
}

.next-btn:hover{
    background: #950170;
    border-color: #950170;
    color: white;
}