@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --primary: #0099ff;
  --secondary: #a3d8fc;
  --color: #defcf9;
  --black: #002f56;
  --blue: #007bff;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  --border-radius: 30px 0 30px 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  line-height: 1.5;
  color: black;
  background: var(--secondary);
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-transition: background-color 5000s ease-in-out 0s;
}

a {
  text-decoration: none;
  color: var(--color);
}

input,
button,
textarea {
  background: none;
  border: none;
  font: inherit;
}

a,
img,
data,
button {
  display: block;
}

section {
  text-align: center;
}

.obj {
  position: relative;
  opacity: 0.5;
}

.shape1 {
  position: absolute;
  top: 15rem;
  left: 90%;
  height: 2rem;
  width: 2rem;
  padding: 2rem;
  clip-path: polygon(
    0% 0%,
    0% 100%,
    25% 100%,
    25% 25%,
    75% 25%,
    75% 75%,
    25% 75%,
    25% 100%,
    100% 100%,
    100% 0%
  );
  background-color: var(--color);
  box-shadow: var(--box-shadow);
  opacity: 0.5;
}

.shape2 {
  position: absolute;
  top: 25rem;
  left: 2%;
  height: 2rem;
  width: 2rem;
  padding: 2rem;
  z-index: 1;
  visibility: visible;
  clip-path: polygon(
    0% 0%,
    0% 100%,
    25% 100%,
    25% 25%,
    75% 25%,
    75% 75%,
    25% 75%,
    25% 100%,
    100% 100%,
    100% 0%
  );
  background-color: var(--color);
  box-shadow: var(--box-shadow);
  opacity: 0.5;
}

.shape3 {
  position: absolute;
  top: 78%;
  left: 70%;
  height: 2rem;
  width: 2rem;
  padding: 2rem;
  z-index: 1;
  clip-path: polygon(
    0% 0%,
    0% 100%,
    25% 100%,
    25% 25%,
    75% 25%,
    75% 75%,
    25% 75%,
    25% 100%,
    100% 100%,
    100% 0%
  );
  background-color: var(--color);
  box-shadow: var(--box-shadow);
  opacity: 0.9;
}

.shape4 {
  position: absolute;
  top: -10%;
  left: -10%;
  height: 2rem;
  width: 2rem;
  padding: 2rem;
  z-index: 1;
  clip-path: polygon(
    0% 0%,
    0% 100%,
    25% 100%,
    25% 25%,
    75% 25%,
    75% 75%,
    25% 75%,
    25% 100%,
    100% 100%,
    100% 0%
  );
  background-color: var(--color);
  box-shadow: var(--box-shadow);
  opacity: 0.9;
}

.section_name {
    font-size: 2.25rem;
    font-family: 'Spectral', serif;
    font-weight: 700;
    padding: 0 1rem;
    text-align: center;
    margin: 0.5rem;
    padding-top: 1rem;
    border-bottom: 2px solid var(--black);
    font-size: 3rem;
    font-family: 'Spectral', serif;
    font-weight: 700;
}

.section_name span {
    color: var(--primary);
}

.box_wrapper {
  display: flex;
  flex-wrap: wrap;
  border-radius: 30px;
  width: 10%0%;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 35px;
}

.contact_info_wrap {
  padding: 40px;
  display: block;
  border-radius: 30px 0 0 30px;
  background-color: var(--primary);
  color: var(--color);
}

.form_wrap {
  padding: 40px 25px 35px 25px;
  box-shadow: var(--box-shadow);
  border-radius: 0 30px 30px 0;
}

.contact_info_title {
  font-size: 2rem;
  text-align: left;
  letter-spacing: .5px;
}

.contact_info_wrap .sub_title {
  font-size: 1.5rem;
  font-family: 'Spectral', serif;
  font-weight: 500;
  margin-top: 12px;
  letter-spacing: -.5px;
  text-align: left;
  width: 100%;
}

.details {
  margin: 60px 0;
}

.details li {
  margin-top: 25px;
  display: flex;
  align-items: center;
}

.details li i {
  font-size: 18px;
  height: 100%;
  color: var(--primary);
  background-color: var(--secondary);
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 15px;
}

.details li .text {
  text-align: left;
  font-size: 1.2rem;
  font-family: 'Spectral' serif;
  font-weight: 500;
}

.details li address a {
  color: var(--color);
  transition: all .15s;
}

.details li address a:hover {
  color: var(--secondary);
  text-decoration: underline;
  text-underline-offset: 4px;
}

.social_icons {
  text-align: center;
  margin: 20px 0;
}

.social_icons li {
  display: inline-block;
}

.social_icons li a i{
  background-color: var(--secondary);
  color: var(--primary);
  padding: 10px 22px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  border-radius: 22%;
  margin: 0 6px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.social_icons li:hover a i {
  transform: rotateX(360deg);
}

.form_fields {
  display: table;
  width: 100%;
  padding: 15px 5px 5px 5px;
}

.form_fields input,
.form_fields textarea {
  outline: none;
  background: transparent;
  color: var(--black);
  padding: 20px 10px 20px 5px;
  width: 100%;
  transition: 0.2s;
}

.form_fields input::placeholder,
.form_fields textarea::placeholder {
  color: var(--black);
  opacity: 0.7;
}

.form_fields textarea {
  height: 150px;
  resize: none;
}

.form_group {
  width: 100%;
  float: none;
  margin: 25px 0;
  padding: 0 10px;
  border-radius: 25px;
  box-shadow: inset var(--box-shadow);
  transition: border-bottom 0.5s;
}
input:is(:focus, :focus-within),
textarea:is(:focus, :focus-within) {
  border-bottom: 1px solid var(--blue);
}

.form_fields .form_group:last-child {
  width: 100%;
}

form .button {
  padding: 10px 45px;
  border-radius: 4px;
  cursor: pointer;
  transition: all .3s;
  font-size: 18px;
  margin-top: 10px;
  background-color: var(--primary);
  width: 100%;
  margin: 0 auto;
}

form .button:hover {
  filter: brightness(0.9);
  box-shadow: var(--box-shadow);
  letter-spacing: .5px;
}

.message {
  width: 100%;
  position: relative;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.message .success {
  position: absolute;
  animation: buttons .3s linear;
  display: none;
  color: var(--black);
}

.message .fail {
  position: absolute;
  animation: buttons .3s linear;
  transition: .3s;
  color: red;
  text-wrap: pretty;
  display: none;
}

@keyframes buttons  {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

.footer {
  font-size: 14px;
  font-weight: 400;
  margin-block: 2rem .5rem;
  color: var(--black);
}

abbr {
  color: var(--blue);
  font-size: 15px;
  letter-spacing: .5px;
  text-underline-offset: 5px;
  cursor: default;
}

@media screen and (max-width: 768px) {
  .contact_info_wrap {
    border-radius: 30px 30px 0 0;
    width: 95%;
  }
  .form_wrap {
    width: 95%;
    border: 0 0px 30px 30px;
  }
}