* {
    padding: 0;
    margin: 0;
}

body {
    /* background-image: linear-gradient(135deg, #29df74 20%, #00ccff83 100%); */
    background-color: hsl(120, 32%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    width: 400px;
    height: 400px;
    background-color: hsl(208, 100%, 85%);
    box-shadow: 0 10px 12px rgba(0, 0, 20, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.login-form input {
    width: 70%;
    padding: 20px;
    margin: 10px;
    border: none;
    background-color: rgb(180, 180, 180);
}

.login-form input:focus {
    outline: none;
    font-size: 17px;
    background-color: rgb(201, 199, 193);
}

.login-form input:hover {
    background-color: rgb(179, 206, 174);
    transition: .4s;
}

.login-form input:nth-last-child(2) {
    background-color: rgba(40, 168, 7, 0.8);
    width: 80%;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.3s;
}

.login-form input:nth-last-child(2):hover {
    background-color: rgba(51, 255, 0, 0.6);
}

.login-form p {
    font-family: calibri;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
}

.login-form span {
    color: rgba(40, 168, 7, 0.8);
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}

.login-form span:hover {
    color: red;
}