@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

:root {
    --first-color: hsl(208, 92%, 54%);
    --first-color-alt: hsl(208, 70%, 40%);
    --title-color: hsl(220, 68%, 5%);
    --white-color: hsl(0, 0%, 90%);
    --text-color: hsl(220, 15%, 35%);
    --body-color: hsl(0, 0%, 80%);
    --container-color: hsl(220, 90%, 90%);

    --body-font: "Montserrat", sans-serif;
    --big-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --tiny-font-size: .75rem;

    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 1100px) {
    :root {
        --big-font-size: 3rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --tiny-font-size: .75rem;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input,
button {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

input,
button {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1100px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1rem;
}

.login {
    position: relative;
    height: 100vh;
    align-items: center;
    overflow: hidden;
}

.login__blob {
    display: none;
}

.login__title {
    font-size: var(--big-font-size);
    color: var(--title-color);
    text-align: center;
    margin-bottom: 2rem;
}

.login__box {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--container-color);
    border-radius: 1rem;
}

.login__input {
    background: none;
    width: 100%;
    padding: 1.5rem 2.5rem 1.5rem 1.25rem;
    font-weight: var(--font-semi-bold);
    border: 3px solid transparent;
    border-radius: 1rem;
    z-index: 1;
    transition: all .4s;
}

.login__input:autofill {
    transition: all .4s;
}

.login__label {
    position: absolute;
    left: 1.25rem;
    font-weight: var(--font-semi-bold);
    transition: all .4s;
}

.login__icon {
    position: absolute;
    right: 1rem;
    font-size: 1.55rem;
    transition: all .4s;
}

.login__password {
    cursor: pointer;
    z-index: 10;
}

.login__forgot {
    display: block;
    width: max-content;
    margin: 1rem 0 0 auto;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--text-color);
    transition: all .4s;
}

.login__forgot:hover {
    color: var(--first-color);
    font-size: var(--normal-font-size);
}

.login__button {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    background-color: var(--first-color);
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
    padding-block: 1.5rem;
    border-radius: 4rem;
    margin-block: 2rem;
    cursor: pointer;
    transition: all .4s;
}

.login__button:hover {
    background-color: var(--first-color-alt);
    box-shadow: 0 8px 20px hsla(208, 92%, 32%, .4);
    transform: translateY(-4px);
}

.login__button:active {
    scale: .96;
}

.login__social {
    margin-bottom: 2rem;
}

.login__social-title {
    text-align: center;
    text-decoration-style: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
    margin-bottom: 1.5rem;
}

.login__social-img {
    width: 1.5rem;
    transition: all .4s;
}

.login__social-links {
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    align-items: center;
}

.login__social-link {
    width: 32px;
    height: 32px;
    background-color: var(--body-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    border-radius: .5rem;
    display: grid;
    place-items: center;
    transition: all .4s;
}

.login__social-link:hover {
    transform: translateY(-6px) rotate(-135deg);
    border-radius: 50%;
    box-shadow: 24px 0 0 -12px var(--first-color),
        -24px 0 0 -12px var(--first-color),
        0 24px 0 -12px var(--first-color),
        0 -24px 0 -12px var(--first-color);
}

.login__social-link:hover img {
    transform: rotate(135deg);
}

.login__switch {
    text-align: center;
    font-size: var(--small-font-size);
}

.login__switch button {
    background: none;
    color: var(--first-color);
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    cursor: pointer;
    transition: all .4s;
}

.login__switch button:hover {
    color: var(--first-color-alt);
    font-size: var(--normal-font-size);
}

.login__access,
.login__register {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    transition: transform .6s, opacity .4s .1s;
}

.login__register {
    transform: translateX(20rem);
    opacity: 0;
    pointer-events: none;
}

.login__input:focus~.login__label {
    transform: translateY(-1.5rem);
    font-size: var(--tiny-font-size);
}

.login__input:focus {
    padding-block: 2rem 1rem;
}

.login__input:not(:placeholder-shown).login__input:not(:focus)~.login__label {
    transform: translateY(-1.5rem);
    font-size: var(--tiny-font-size);
}

.login__input:not(placeholder-shown).login__input:not(:focus) {
    padding-block: 2rem 1rem;
}

.login__input:focus {
    border-color: var(--first-color);
}

.login__input:focus ~ .login__label,
.login__input:focus ~ .login__icon {
    color: var(--first-color);
}

.active .login__access {
    transform: translateX(20rem);
    opacity: 0;
    pointer-events: none;
}

.active .login__register {
    transform: translateX(0);
    opacity: 1;
    pointer-events: initial;
}

.footer__copy {
    display: block;
    margin-top: -1.5rem;
    text-align: center;
    font-size: var(--small-font-size);
    color: var(--text-color);
    background-color: var(--container-color);
}

@media screen and (max-width: 320px) {
    .container {
        margin-inline: 1rem;
    }
}

@media screen and (min-width: 540px) {
    .login__area {
        width: 380px;
        margin-inline: auto;
    }
} 

@media screen and (min-width: 350px) and (max-height: 600px) {
    .login {
        height: 760px;
    }
}

@media screen and (min-width: 1100px) {
    .container {
        margin-inline: auto;
    }

    .login__area {
        width: 460px;
        margin: initial;
    }

    .login__access,
    .login__register {
        width: 600px;
    }

    .login__title {
        text-align: initial;
        margin-bottom: 3rem;
    }

    .login__button {
        margin-bottom: 3rem;
    }

    .login__group {
        grid-template-columns: repeat(2, 1fr);
    }

    .login__blob {
        display: block;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
    }

    .login__img {
        transform: translate(0rem, 0rem);
    }
}