@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Oswald:wght@200..700&family=Roboto:wght@100..900&display=swap');

:root {
  --bright-yellow-crayola: hsl(40, 100%, 50%);
  --medium-turquoise: hsl(172, 48%, 59%);
  --silver-chalice: hsl(0, 0%, 70%);
  --eerie-black-1: hsl(0, 0%, 13%);
  --eerie-black-2: hsl(0, 0%, 15%);
  --eerie-black-3: hsl(228, 10%, 10%);
  --raisin-black: hsl(220, 8%, 14%);
  --granite-gray: hsl(0, 0%, 38%);
  --sonic-silver: hsl(0, 0%, 47%);
  --pistachio_50: hsla(86, 45%, 54%, 0.5);
  --baby-powder: hsl(86, 41%, 97%);
  --light-gray: hsl(0, 0%, 80%);
  --pistachio: hsl(86, 45%, 54%);
  --platinum: hsl(0, 0%, 91%);
  --cultured: hsl(0, 0%, 94%);
  --white-60: hsla(0, 0%, 100%, 0.6);
  --white_50: hsla(0, 0%, 100%, 0.5);
  --white_10: hsla(0, 0%, 100%, 0.1);
  --white: hsl(0, 0%, 70%);
  --black: hsl(0, 0%, 0%);
  --jet: hsl(0, 0%, 18%);

  --ff-oswald: 'Oswald', sans-serif;
  --ff-inter: 'Inter', sans-serif;
  --ff-roboto: 'Roboto', sans-serif;

  --fs-1: 13rem;
  --fs-2: 4rem;
  --fs-3: 3.5rem;
  --fs-4: 3rem;
  --fs-5: 2.4rem;
  --fs-6: 2.2rem;
  --fs-7: 2rem;
  --fs-8: 1.8rem;
  --fs-9: 1.5rem;
  --fs-10: 1.4rem;

  --fw-300: 300;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  --section-padding: 80px;

  --card-shadow: 0 5px 20px -8px hsla(0, 0%, 0%, 0.15);

  --transition-1: 0.05s ease;
  --transition-2: 0.25s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}
 *,
 ::before,
 ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    interpolate-size: allow-keywords;
 }

 html {
    font-family: var(--ff-roboto);
    color: var(--granite-gray);
    font-size: 10px;
    scroll-behavior: smooth;
 }

 li {
    list-style: none;
 }

 a {
    text-decoration: none;
    color: inherit;
 }

 a,
 img,
 span,
 time,
 input,
 strong,
 button,
 ion-icon {
    display: block;
 }

 img {
    height: auto;
 }

 ion-icon {
    pointer-events: none;
 }

 input,
 button {
    background: none;
    border: none;
    font: inherit;
}

input {
    width: 100%;
}

button {
    cursor: pointer;
}

:focus-visible {
    outline-offset: 4px;
}

::selection {
    background-color: var(--white_10);
}

body {
    background-color: var(--white);
    font-size: 1.6rem;
    line-height: 1.6;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: hsl(0, 0%, 95%);
}

::-webkit-scrollbar-thumb {
    background-color: var(--pistachio);
}

::-webkit-slider-thumb:hover {
    background-color: var(--pistachio_50);
}

.lang-switch,
.navbar,
.header-action {
    display: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    padding-block: 18px;
    z-index: 4;
}

.header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 140px);
    height: 2px;
    background-color: var(--white_10);
}

.header.active {
    background-color: var(--eerie-black-1);
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.8);
}

.header-action::after {
    display: none;
}