* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(/images/darkhex.jpg);
    background-size: cover;
    background-position: center;
}

@property --a {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

div {
    position: relative;
    overflow: hidden;
    width: 300px;
    aspect-ratio: 1/1.2;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    margin: 0 20px;
    border-radius: 10px;
    font-size: 40px;
    transition: .4s ease-in-out;
}

div:hover {

    scale: 1.1;
}

div::before {
    content: '';
    position: absolute;
    z-index: -1;
    inset: -30px;
    border: 40px solid;
    border-image: conic-gradient(from var(--a),
    #669900, #99cc33, #ccee66, #006699, #3399cc, #990066, #cc3399, #ff6600, #ff9900, #ffcc00, #669900) 1;
    filter: blur(15px);
    transition: .4s ease-in-out;
    animation: move 4s linear infinite;
}

div:hover::before {
    inset: -10px;
}

@keyframes move {
    100% {
        --a: 1turn;
    }
}