@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #151515;
}

.card {
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.card:hover {
    width: 600px;
    transition-delay: 0.5s;
}

.card .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: #191919;
    border: 8px solid var(--clr);
    filter: drop-shadow(0 0 10px var(--clr)) drop-shadow(0 0 60px var(--clr));
    transition: 0.5s, background 0.5s;
    transition-delay: 0.75s, 1s;
}

.card:hover .circle::before {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: var(--clr);
    transition-delay: 0.5s;
}

.card .circle p {
    position: relative;
    width: 250px;
    transition: 0.5s;
    transition-delay: 0.5s;
    font-family: "Anton", sans-serif;
    text-align: center;
    letter-spacing: 2px;
    font-size: 50px;
    font-weight: 500;
    color: skyblue;
    animation: glow 5s linear infinite;
}

@keyframes glow {
    0%, 100% {
        color: skyblue;
    }
    20%, 80% {
        color: transparent;
        -webkit-text-stroke: 1px skyblue;
    }
}

.card:hover .circle p {
    transform: scale(0);
    transition-delay: 0s;
}

.card .product_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0) rotate(315deg);
    height: 300px;
    transition: 0.5s ease-in-out;
}

.card:hover .product_img {
    transition-delay: 0.75s;
    top: 25%;
    left: 72%;
    height: 400px;
    transform: translate(-50%, -50%) scale(1) rotate(15deg);
}

.card .content {
    position: absolute;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
}

.card:hover .content {
    transition-delay: 0.75s;
    opacity: 1;
    visibility: visible;
    left: 20px;
}

.card .content h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2.5em;
    line-height: 1em;
}

.card .content .content_text {
    color: #fff;
}

.card .content a {
    position: relative;
    color: #111;
    background: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    margin-top: 10px;
    transition: 0.25s;

    &:hover {
        transform: scale(1.04) translateY(-3px);
        background: #dcffff;
    }
}