* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #343434;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
}

.container .card {
    position: relative;
    width: 200px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #111;
    border-radius: 20px;
    font-size: 5em;
    font-weight: 700;
    cursor: pointer;
    color: var(--clr);
    transition: .25s;
}

.container .card:hover {
    font-size: 6em;
}