* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #76968b;
}

ul {
    display: flex;
}

ul li {
    list-style: none;
}

ul li a {
    position: relative;
    font-size: 20px;
    color: #262626;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    left: 4px;
    display: block;
    transition: .5s;
}

ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}

ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

ul li a span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

ul li a span::before {
    content: '';
    position: absolute;
    display: block;
    top: -20px;
    height: 3px;
    width: 25%;
    background: #000;
    transition: .5s;
    opacity: 0;
    transform: rotate(-150deg);
}

ul li a:hover span::before {
    transform: rotate(0);
    top: 100%;
    opacity: 1;
}

ul li a span::after {
    content: '';
    position: absolute;
    display: block;
    bottom: -20px;
    height: 3px;
    width: 25%;
    background: #000;
    transition: .5s;
    opacity: 0;
    transform: rotate(150deg);
}

ul li a:hover span::after {
    transform: rotate(0);
    bottom: 100%;
    opacity: 1;
}

ul li a span:nth-child(1)::before,
ul li a span:nth-child(1)::after {
    left: 0;
    transition-delay: .1s;
}

ul li a span:nth-child(2)::before,
ul li a span:nth-child(2)::after {
    left: 25%;
    transition-delay: .2s;
}

ul li a span:nth-child(3)::before,
ul li a span:nth-child(3)::after {
    left: 50%;
    transition-delay: .3s;
}

ul li a span:nth-child(4)::before,
ul li a span:nth-child(4)::after {
    left: 75%;
    transition-delay: .4s;
}