*,*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgb(151, 151, 151), rgb(196, 196, 196));
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    margin: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: minmax(300px, 1fr);
    gap: 30px;
}

.container img {
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: .6s ease;
}

.container img:hover{
    scale: 0.85;
    box-shadow: 10px 26px 60px rgba(0, 238, 255, 0.5);
}