* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(120deg, #a1c4fd, #c2e9fd);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    margin-bottom: 20px;
    font-size: 60px;
}

#openModalBtn {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
    corner-shape: scoop;
    border: 1px solid #000;
    background-color: #d2f4ff;
    transition: all .3s;

    &:hover {
        color: #d2f4ff;
        background-color: #000;
        border-radius: 5px;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0 0 0 / 0.5);
    animation: fadeIn .5s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.modal-content {
    background: linear-gradient(120deg, #a1c4fd, #c2e9fd);
    margin: 10% auto;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgb(0 0 0 / 0.2);
    transform: scale(0.5) translateY(200%);
    transition: transform 0.3s ease-in-out;
    position: relative;
}

.modal-content.show {
    transform: scale(1);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #111;
    padding-bottom: 10px;

    h2 {
        font-size: 24px;
    }
}

.modal-subtitle {
    font-size: 16px;
    color: #444;
}

.close {
    color: #000;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        color: #444;
    }
}

.modal-body {
    margin: 20px 0;

    p {
        font-size: 16px;
        line-height: 1.4;
    }
}

.modal-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    display: block;
}

.modal-footer {
    display: flex;
    flex-direction: column;
    border-top: 2px solid currentColor;
    padding-top: 10px;
}

.footer-text {
    margin-bottom: 10px;

    p {
        font-size: 14px;
        color: #444;
    }
    a {
        color: #000;
        text-decoration: none;
        text-underline-offset: 2px;
        text-decoration-skip-ink: all;

        &:hover {
            text-decoration: underline;
        }
    }
}

.footer-icons {
    display: flex;
    gap: 15px;
}

.footer-icons i {
    font-size: 20px;
    color: #000;
    cursor: pointer;
    transition: all .2s;

    &:hover {
        color: #444;
        transform: scale(1.1);
    }
}