* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    interpolate-size: allow-keywords;
}

body {
    min-height: 100vh;
    background-color: #222;
    background-image: linear-gradient(to right, #333 1px, transparent 1px),
    linear-gradient(to bottom, #333 1px, transparent 1px);
    background-size: 100px 100px;
    cursor: none;
}

#cursor {
    position: fixed;
    width: 25px;
    height: 25px;
    border-top: 5px solid #0f0;
    border-left: 5px solid #0f0;
    transform-origin: top;
    transform: translate(-1px, 5px) rotate(15deg) scale(0);
    /* transition: transform 0.1s; */
    pointer-events: none;
    animation: animate 5s linear infinite;
}

#cursor::before {
    content: '';
    position: absolute;
    left: -2.5px;
    width: 5px;
    height: 40px;
    background: #0f0;
    transform-origin: top;
    transform: rotate(315deg);
}

body:hover #cursor {
    transform: translate(-1px, 5px) rotate(15deg) scale(1);
}

@keyframes animate {
    from {
        filter: drop-shadow(0 0 5px #0f0)
        drop-shadow(0 0 15px #0f0)
        drop-shadow(0 0 30px #0f0)
        hue-rotate(0deg);
    }
    to {
        filter: drop-shadow(0 0 5px #0f0)
        drop-shadow(0 0 15px #0f0)
        drop-shadow(0 0 30px #0f0)
        hue-rotate(360deg);
    }
}

p {
    color: white;
    font-size: 26px;
    border: 1px solid silver;
    padding: 0.5rem 2rem;
    position: fixed;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    transition: 0.1s;
    height: 0;
}

p.show {
    opacity: 1;
    display: inline-block;
    height: auto;
}