* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: linear-gradient(#a0a0a0, #e0e0e0);
    min-height: 100vh;
}

.controls {
    margin: 20px;
}

button {
    padding: 10px 16px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: .2s;

    &:hover {
        transform: translateY(-2px) scale(1.02);
        box-shadow: 0 4px 8px rgb(0 0 0 / 0.2);
    }
    &:active {
        transform: translateY(0) scale(1);
    }
}

.road {
    width: 820px;
    height: 180px;
    background: #555;
    margin: auto;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}

.traffic-light {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 55px;
    background: #222;
    padding: 6px;
    border-radius: 8px;
}

.light {
    width: 30px;
    height: 30px;
    background-color: #555;
    border-radius: 50%;
    opacity: 0.3;
    margin-block: 5px;
}

.red.active {background: red; opacity: 1;}
.yellow.active {background: yellow; opacity: 1;}
.green.active {background: green; opacity: 1;}

.car {
    width: 70px;
    height: 32px;
    position: absolute;
    border-radius: 6px;
}

.ltr {
    background: dodgerblue;
    bottom: 30px;
}

.rtl {
    background: tomato;
    top: 30px;
    transform: rotate(180deg);
}