* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #768a81;
    --main-color: #941aff;
}

body {
    height: 100vh;
    background-color: var(--background-color);
}

body.light {
    --background-color: #ccc;
}

body.dark {
    --background-color: #1f0030;
}

body.sky {
    --background-color: #12c8e0;
}

body.grass {
    --background-color: green;
}

.navigation {
    position: fixed;
    inset: 20px;
    background-color: var(--background-color);
    width: 80px;
    border-left: 10px solid #1212;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.25);
    transition: all .5s;
}

.navigation.active {
    width: 300px;
    border-radius: 20px;
}

.toggle {
    position: absolute;
    bottom: -100px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: var(--main-color);
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}

.toggle:hover {
    filter: saturate(150%) brightness(90%);
}

.toggle::before,
.toggle::after {
    content: '';
    position: absolute;
    width: 26px;
    height: 3px;
    border-radius: 3px;
    background: #f1f1f1;
    transition: 1s;
}

.toggle::before {
    transform: translateY(-5px);
}

.toggle::after {
    transform: translateY(5px);
}

.navigation.active .toggle::before {
    transform: translateY(0) rotate(-405deg);
}

.navigation.active .toggle::after {
    transform: translateY(0) rotate(225deg);
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover {
    background-color: var(--main-color);
    color: #222;
}

.navigation ul li:nth-child(1) {
    top: 20px;
    margin-bottom: 40px;
    background-color: transparent;
}

.navigation ul li:not(:first-child):hover::before,
.navigation ul li:not(:first-child):hover::after {
    content: '';
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    background: transparent;
}

.navigation ul li:not(:first-child):hover::before {
    top: -20px;
    border-bottom-right-radius: 20px;
    box-shadow: 7.5px 7.5px 0 7.5px var(--main-color);
}

.navigation ul li:not(:first-child):hover::after {
    bottom: -20px;
    border-top-right-radius: 20px;
    box-shadow: 7.5px -7.5px 0 7.5px var(--main-color);
}

.navigation ul li a {
    position: relative;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--main-color);
}

.navigation ul li:hover:not(:first-child) a {
    color: #f1f1f1;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon i {
    font-size: 1.75rem;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}

.style-switcher-wrapper {
    position: fixed;
    background: var(--background-color);
    box-shadow: -3px 0 10px -2px rgba(0, 0, 0, .2);
    right: 0;
    top: 6%;
    width: 300px;
    z-index: 101;
    padding: .75rem .5rem;
    border-radius: 4px;
    transition: all .3s cubic-bezier(0.6, 0.24, 0.78, 0.335);
    transform: translateX(100%);
}

.style-switcher-wrapper.open {
    transform: translateX(0);
}

.style-switcher-wrapper.open .icon-1 {
    border-radius: 5px;
    margin-right: 25px;
}

.style-switcher-wrapper .icon-1 {
    position: absolute;
    top: 0;
    width: 50px;
    height: 50px;
    background-color: var(--background-color);
    box-shadow: -3px 0 10px -2px rgba(0, 0, 0, .2);
    text-align: center;
    font-size: 30px;
    right: 99%;
    transition: all .3s;
    border: 5px 0 0 5px;
    cursor: pointer;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.style-toggler {
    margin-top: .5rem;
    top: 40%;
    color: #fefefe;
}

.colors {
    color: #808080;
}

h3 {
    color: var(--main-color);
    margin: .5rem;
}

.colors p {
    font-size: 12px;
    margin: .5rem;
}

.colors span {
    width: 45px;
    height: 35px;
    cursor: pointer;
    display: inline-block;
    margin: .25rem;
    padding: .5rem;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.golden {
    background-color: goldenrod;
}

.green {
    background-color: green;
}

.purple {
    background-color: darkmagenta;
}

.orange {
    background-color: #ff651c;
}

.yellowgreen {
    background-color: yellowgreen;
}

.yellow {
    background-color: yellow;
}

.olive {
    background-color: olive;
}

.cyan {
    background-color: cyan;
}

.colors .default {
    width: 100%;
    height: 40px;
    font-size: 18px;
    letter-spacing: 1px;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.theme span {
    width: 60px;
    height: 35px;
    background-color: #000;
    display: inline-block;
    margin: .25rem;
    cursor: pointer;
}

.theme .light {
    background-color: #ccc;
    box-shadow: -3px 0 10px -2px rgba(0, 0, 0, .2);
}

.theme .dark {
    background-color: #1f0030;
    box-shadow: -3px 0 10px -2px rgba(0, 0, 0, .2);
}

.theme .sky {
    box-shadow: -3px 0 10px -2px rgba(0, 0, 0, .2);
    background-color: #12c8e0;
}

.theme .grass {
    box-shadow: -3px 0 10px -2px rgba(0, 0, 0, .2);
    background-color: green;
}