:root {
    --header-height: 3.5rem;

    --white-color: hsl(0 0 100);

    --body-font: 'Segoe UI', Verdana, sans-serif;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
}

@media screen and (max-width: 1150px) {
    :root {
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.image-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    margin: 1rem;
}

.header__container {
    width: 100%;
    height: var(--header-height);
    background-color: hsl(0 0 0 / .2);
    backdrop-filter: blur(16px);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
}

.header__logo {
    display: flex;
    align-items: center;
    column-gap: .25rem;
    color: var(--white-color);

    i {
        font-size: 1.5rem;
    }
}

.header__toggle {
    width: 32px;
    height: 32px;
    border-radius: .5rem;
    border: none;
    outline: none;
    font-size: 1.5rem;
    background-color: hsl(0 0 0 / .2);
    color: var(--white-color);
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -120%;
    bottom: 0;
    width: 232px;
    background-color: hsl(0 0 0 / .2);
    backdrop-filter: blur(16px);
    z-index: 100;
    padding: 1rem 1rem 1.5rem;
    margin: 1rem;
    border-radius: 1rem;
    scale: 0;
    transform-origin: top;
    transition: .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.sidebar__logo {
    display: flex;
    align-items: center;
    column-gap: .75rem;
    color: var(--white-color);
    padding: 0 0 1rem .5rem;
    font-weight: 500;
    border-bottom: 1px solid hsla(0 0 100 / .3);

    i {
        font-size: 1.5rem;
    }
}

.sidebar__content {
    display: grid;
    row-gap: .5rem;
    padding-block-start: 1.5rem;
}

.sidebar__link {
    display: flex;
    align-items: center;
    column-gap: .75rem;
    color: var(--white-color);
    padding: .5rem;
    transition: background-color .3s;

    i {
        font-size: 1.5rem;
    }
    span {
        font-weight: 500;
    }
    &:hover {
        background-color: hsl(0 0 0 / .2);
    }
}

.show-sidebar {
    left: 0;
    scale: 1;
}

.drop__button {
    width: 100%;
    flex-direction: row;
    border: none;
    outline: none;
    background: none;
    font: 500 var(--normal-font-size) var(--body-font);
    cursor: pointer;
}

.drop__arrow {
    margin-inline-start: auto;
    transition: transform .3s;
}

.drop__list {
    display: grid;
    row-gap: .25rem;
    height: 0;
    overflow: hidden;
    transition: height .4s;
}

.drop__item {
    position: relative;
    display: block;
    color: var(--white-color);
    padding: .5rem .5rem .5rem 2.25rem;
    border-radius: 0.5rem;
    transition: background-color .4s;

    &:hover {
        background-color: hsl(0 0 0 / .2);
    }
}

.drop__item::after {
    content: '';
    width: 6px;
    height: 6px;
    background-color: var(--white-color);
    position: absolute;
    left: 1rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border-radius: 50%;
}

.show-drop .drop__arrow {
    transform: rotate(-180deg);
}

.main {
    padding-block-start: 5rem;
    margin-inline: 1.5rem;
    color: var(--white-color);
}

@media screen and (max-width: 320px) {
    .header {
        margin-inline: .5rem;
    }
    .sidebar {
        width: 200px;
        margin-inline: .5rem;
    }
}

@media screen and (min-width: 1150px) {
    .header {
        margin: 1.5rem;
        padding-inline-start: 274px;
        transition: padding .4s;
    }
    .header__container {
        height: calc(var(--header-height) + 2rem);
        padding-inline: 1.5rem;
    }
    .header__toggle {
        display: none;
    }
    .sidebar {
        left: 0;
        width: 250px;
        margin: 1.5rem;
        padding: 2rem 1.5rem;
    }
    .main {
        padding-inline-start: 274px;
        padding-block-start: 8rem;
        transition: padding .4s;
    }
}