* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

input {
    width: 20em;
    height: 3.6em;
    border: 5px solid #000;
    border-radius: 14px;
    appearance: none;
    background: repeating-linear-gradient(90deg, #000 0 0.05em, #0000 0 0.9em, #000 0 1em), radial-gradient(#fff5, #fff0) 0 0 / 1em 100%, linear-gradient(90deg, #29ee01 70%, #ffd308 0 80%, #e00 0), #f005;
    overflow: hidden;
    box-shadow: 0 -1px 1px #fff3,
    0 0 32px #0003,
    inset 0 0 1em #0003;
}

input::-webkit-slider-thumb {
    appearance: none;
    width: 0.9em;
    height: 3.6em;
    background: #fff2;
    box-shadow: 0 0 0.5em #fff8,
    1em 0,
    2em 0,
    3em 0,
    4em 0,
    5em 0,
    6em 0,
    7em 0,
    8em 0,
    9em 0,
    10em 0,
    11em 0,
    12em 0,
    13em 0,
    14em 0,
    15em 0,
    16em 0,
    17em 0,
    18em 0,
    19em 0;
}