* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #121212;
}

:root {
    --border: 1px solid red;
}

.container {
    width: 200px;
    aspect-ratio: 1;
    position: relative;
}

.container div {
    position: absolute;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-shadow: 0 0 0 3px hsl(20, 86%, var(--color));
    display: flex;
    justify-content: center;
    animation: animate 8s linear infinite;
}

@keyframes animate {
    to {
        transform: rotate(-360deg);
    }
}

.circle1 {
    width: 100%;
    --color: 30%;
}

.circle2 {
    width: 50%;
    --color: 40%;
}

.circle3 {
    width: 150%;
    --color: 50%;
}

.circle4 {
    width: 50%;
    --color: 60%;
}

.circle5 {
    width: 65%;
    --color: 70%;
}

.circle6 {
    width: 50%;
    --color: 80%;
}