* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, #000000, #003f00);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spiner {
    perspective: 1000px;
}

.circle,
.line {
    width: 200px;
    height: 200px;
    border: 6px solid #fff;
    border-radius: 50%;
}

.circle {
    position: relative;
    transform-style: preserve-3d;
    animation: move 6s linear infinite;
}

.line {
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 10px rgba(192, 192, 192, 0.5),
    0 0 30px rgba(192, 192, 192, 0.5),
    0 0 60px rgba(192, 192, 192, 0.5);
    animation: move 6s linear infinite;
}

.line:nth-child(1) {
    transform: rotataY(36deg);
}

.line:nth-child(2) {
    transform: rotateY(72deg);
    animation-delay: 1s;
}

.line:nth-child(3) {
    transform: rotateY(108deg);
    animation-delay: 2s;
}

.line:nth-child(4) {
    transform: rotateY(144deg);
    animation-delay: 3s;
}

@keyframes move {
    100% {
        transform: rotateY(360deg) rotateZ(360deg);
    }
}