body {
    background-color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: darkturquoise;
}

.loader {
    width: 100px;
    height: 100px;
    border: 10px solid;
    border-color: #ff00ff #ff00ff00;
    border-radius: 50%;
    animation: animate 2s ease infinite;
}

@keyframes animate {
    to {
        transform: rotate(1turn);
    }
}