body {
    margin: 0;
    background: #e0e0e0;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-evenly;
}

.circle {
    width: 200px;
    aspect-ratio: 1/1;
    background: #e0e0e0;
    border-radius: 50%;
    box-shadow: inset 20px 20px 60px #bbb,
        inset -20px -20px 60px #fff,
        0px 0px 0px #bbb,
        0px 0px 0px #fff;
    animation: animate 3s infinite ease-in-out alternate;
}

@keyframes animate {
    0% {
        box-shadow: inset 20px 20px 60px #bbb,
            inset -20px -20px 60px #fff,
            0px 0px 0px #bbb,
            0px 0px 0px #fff;
    }

    50% {
        box-shadow: inset 0px 0px 0px #bbb,
            inset 0px 0px 0px #fff,
            0px 0px 0px #bbb,
            0px 0px 0px #fff;
    }

    100% {
        box-shadow: inset 0px 0px 0px #bbb,
            inset 0px 0px 0px #fff,
            20px 20px 60px #bbb,
            -20px -20px 60px #fff;
    }
}

.delay {
    animation-delay: 1.5s;
}