@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Montserrat:wght@100..900&display=swap");

:root {
    --header-height: 3.5rem;

    --first-color: hsl(45, 99%, 55%);
    --first-color-alt: hsl(45, 99%, 48%);
    --second-color: hsl(22, 100%, 8%);
    --white-color: hsl(34, 100%, 96%);
    --title-color: hsl(22, 100%, 8%);
    --text-color: hsl(22, 24%, 32%);
    --text-color-light: hsl(23, 16%, 40%);
    --body-color: hsl(34, 100%, 92%);
    --body-color-alt: hsl(34, 100%, 88%);
    --container-color: hsl(34, 100%, 96%);
    --shadow-small-img: drop-shadow(0 4px 16px hsla(22, 100%, 8%, .2));
    --shadow-big-img: drop-shadow(0 8px 24px hsla(22, 100%, 8%, .2));

    --body-font: "Montserrat", sans-serif;
    --second-font: "Aclonica", sans-serif;
    --biggest-font-size: 3rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 1150px) {
    :root {
        --biggest-font-size: 4.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-family: var(--second-font);
    font-weight: var(--font-regular);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 5rem 1rem;
}

.section-title {
    text-align: center;
    font-size: var(--h1-font-size);
    margin-bottom: 2rem;
}

.main {
    overflow: hidden;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--body-color-alt);
    z-index: var(--z-fixed);
    transition: .4s;
}

.nav {
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-family: var(--second-font);
    color: var(--title-color);
    font-size: var(--h1-font-size);
}

.nav-logo figure img {
    width: 20px;
    height: auto;
}

.nav-logo figure {
    background-color: var(--first-color);
    padding: 6px;
    border-radius: .5rem;
}

.nav-toggle, .nav-close {
    display: flex;
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
}

@media screen and (max-width: 1150px) {
    .nav-menu {
        position: fixed;
        top: 0;
        left: 0;
        clip-path: circle(0% at 100% 0);
        background-color: var(--body-color-alt);
        background: linear-gradient(235deg, var(--body-color-alt) 50%, var(--text-color-light));
        width: 100%;
        padding-block: 4.5rem 3.5rem;
        box-shadow: 0 6px 16px hsla(22, 100%, 8%, .2);
        transition: all .6s ease-in-out;
    }
}

.nav-list {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.nav-link {
    position: relative;
    color: var(--title-color);
    font-family: var(--second-font);
    font-size: var(--h2-font-size);
    transition: all .3s;
}

.nav-link:hover {
    padding-left: 8px;
    color: var(--second-color);
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: var(--first-color-alt);
    left: 4px;
    bottom: -.5rem;
    transition: all .3s;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

.show-menu {
    clip-path: circle(141.2% at 100% 0);
}

.shadow-header {
    box-shadow: 0 6px 16px hsla(22, 100%, 8%, .2);
}

.home-container {
    padding-block: 3rem 2rem;
    justify-content: center;
    row-gap: 3.5rem;
}

.home-data {
    position: relative;
    text-align: center;
}

.home-title {
    font-size: var(--biggest-font-size);
    margin-bottom: 1rem;
}

.home-description {
    margin-bottom: 2.5rem;
}

.home-sticker {
    width: 40px;
    rotate: 15deg;
    position: absolute;
    bottom: 2rem;
    right: 1rem;
    opacity: .5;
}

.home-images {
    position: relative;
    display: grid;
    justify-items: center;
    justify-self: center;
}

.home-ingredient {
    width: 60px;
    filter: var(--shadow-small-img);
    position: absolute;
    z-index: 2;
}

.home-burger,
.home-dish {
    filter: var(--shadow-big-img);
}

.home-burger {
    width: 280px;
    z-index: 2;
}

.home-dish {
    max-width: initial;
    width: 320px;
    position: absolute;
    bottom: -2.5rem;
}

.home-potato-1 {
    left: -1rem;
    top: .75rem;
}

.home-potato-2 {
    right: -.75rem;
    bottom: -2rem;
    rotate: 90deg;
}

.home-tomato-1 {
    width: 40px;
    top: -1rem;
    right: 6rem;
}

.home-tomato-2 {
    width: 40px;
    left: 5.5rem;
    bottom: -1.5rem;
}

.home-lettuce-1 {
    top: 2rem;
    right: -2rem;
    transform: scaleX(-1);
}

.home-lettuce-2 {
    left: -2rem;
    bottom: 1rem;
}

.button {
    display: inline-flex;
    background-color: var(--first-color);
    color: var(--title-color);
    padding: 1rem 1.5rem;
    font-family: var(--second-color);
    border-radius: 4rem;
    transition: all .4s ease-in-out;
}

.button:hover {
    box-shadow: 0 8px 24px hsla(22, 100%, 8%, .2);
    font-weight: 600;
    scale: 1.08;
    transform: translate(0, -4px);
    outline: 2px solid var(--body-color-alt);
    outline-offset: 2rem;
}

.recipe {
    overflow: hidden;
}

.recipe-container {
    display: grid;
    place-items: center;
    grid-template-columns: .5fr 1fr;
    column-gap: 1rem;
    padding-bottom: 2rem;
}

.recipe-image {
    position: relative;
    display: grid;
    place-items: center;
}

.recipe-img {
    position: absolute;
    max-width: initial;
    width: 200px;
    left: -6rem;
    filter: var(--shadow-big-img);
}

.recipe-data {
    display: grid;
    row-gap: 2rem;
}

.recipe-card {
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.recipe-box {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    background-color: var(--first-color);
    border: 3px solid var(--container-color);
    border-radius: .75rem;
    display: grid;
    place-items: center;
    box-shadow: 0 6px 16px hsla(22, 100%, 8%, .2);
}

.recipe-box img {
    width: 50px;
    filter: var(--shadow-small-img);
}

.recipe-title {
    font-size: var(--normal-font-size);
    margin-bottom: .5rem;
}

.recipe-description {
    font-size: var(--small-font-size);
}

.recipe-card:nth-child(even) .recipe-box {
    order: 1;
}

.popular {
    background-color: var(--body-color-alt);
}

.popular-container {
    padding-block: 2rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.5rem 1.5rem;
}

.popular-card {
    position: relative;
    background-color: var(--first-color);
    padding: 6rem .75rem 1rem;
    border-radius: 1rem;
    border: 4px solid var(--container-color);
    box-shadow: 0 6px 16px hsla(22, 100%, 8%, .2);
}

.popular-img {
    position: absolute;
    top: -2rem;
    left: 0;
    right: 0;
    width: 120px;
    margin: 0 auto;
    filter: var(--shadow-small-img);
    transition: all .4s ease;
}

.popular-title {
    font-size: var(--normal-font-size);
    margin-bottom: .75rem;
}

.popular-price {
    color: var(--title-color);
    font-family: var(--second-color);
    font-size: var(--h2-font-size);
}

.popular-button {
    position: absolute;
    right: .75rem;
    bottom: 1rem;
    outline: none;
    border: none;
    background-color: var(--second-color);
    color: var(--white-color);
    padding: 6px;
    border-radius: .5rem;
    font-size: 1.25rem;
    display: inline-flex;
    cursor: pointer;
}

.popular-card:hover .popular-img {
    transform: translateY(-.75rem) rotate(-5deg);
}

.delivery-container {
    row-gap: 2.5rem;
}

.delivery-data {
    position: relative;
    text-align: center;
}

.delivery-container .section-title {
    margin-bottom: 1rem;
}

.delivery-description {
    margin-bottom: 2rem;
}

.delivery-sticker {
    width: 30px;
    rotate: 15deg;
    position: absolute;
    right: 1rem;
    bottom: 1.5rem;
    opacity: .5;
}

.delivery-img {
    width: 320px;
    justify-self: center;
    filter: var(--shadow-big-img);
}

.contact-container {
    position: relative;
    background-color: var(--second-color);
    padding-top: 3.5rem;
    border-radius: 3rem;
    overflow: hidden;
}

.contact-content {
    row-gap: 3rem;
}

.contact-container .section-title,
.contact-title,
.contact-info {
    color: var(--white-color);
}

.contact-data {
    text-align: center;
    row-gap: 2rem;
}

.contact-title {
    font-size: var(--h2-font-size);
    margin-bottom: .75rem;
}

.contact-social {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}

.contact-social a {
    width: 40px;
    height: 40px;
    background-color: var(--first-color);
    color: var(--second-color);
    font-size: 1.5rem;
    border-radius: .5rem;
    display: grid;
    place-items: center;
    transition: all .4s ease;
}

.contact-social a:hover {
    transform: translateY(-.25rem);
    box-shadow: 0 6px 12px var(--white-color);
}

.contact-info {
    font-style: normal;
}

.contact-image {
    justify-self: center;
}

.contact-img {
    width: 280px;
}

.contact-sticker-1, 
.contact-sticker-2 {
    position: absolute;
    opacity: .5;
}

.contact-sticker-1 {
    width: 50px;
    top: 6rem;
    left: 1.5rem;
}

.contact-sticker-2 {
    width: 40px;
    right: 3rem;
    bottom: 12rem;
}

.footer {
    padding-block: 3rem 2rem;
}

.footer-container {
    row-gap: 2rem;
}

.footer-logo {
    display: flex;
    font-size: var(--h1-font-size);
    font-family: var(--second-font);
    justify-content: center;
    color: var(--title-color);
}

.footer-content {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
}

.footer-link {
    color: var(--text-color);
}

.footer-link:hover {
    color: var(--title-color);
}

.footer-social {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}

.footer-social a {
    width: 40px;
    height: 40px;
    background-color: var(--first-color);
    font-size: 1.5rem;
    border-radius: .5rem;
    display: grid;
    place-items: center;
    transition: all .4s ease;
}

.footer-social a:hover {
    transform: translateY(-.25rem);
    box-shadow: 0 6px 12px var(--second-color);
}

.footer-copy {
    display: block;
    text-align-last: center;
    font-size: var(--small-font-size);
    margin-top: 3.5rem;
}

::-webkit-scrollbar {
    width: .6rem;
    background-color: hsl(34, 16%, 75%);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(34, 16%, 65%);
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(34, 16%, 55%);
}

.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background: var(--body-color);
    box-shadow: 0 6px 16px hsla(22, 100%, 8%, .2);
    color: var(--title-color);
    display: inline-flex;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: .35rem;
    z-index: var(--z-tooltip);
    transition: all .4s ease;
}

.scrollup:hover {
    transform: translateY(-.5rem) scale(1.1);
    background-color: var(--first-color-alt);
}

.show-scroll {
    bottom: 2rem;
}

.active-link::after {
    width: 100%;
}

@media screen and (max-width: 330px) {
    .container {
        margin-inline: 1rem;
    }

    .home-title {
        font-size: 2.5rem;
    }

    .home-burger {
        width: 210px;
    }

    .home-dish {
        width: 250px;
        bottom: -2rem;
    }

    .recipe-container {
        column-gap: 5rem;
    }

    .recipe-img {
        left: -8rem;
    }

    .popular-container {
        grid-template-columns: 160px;
        justify-content: center;
    }

    .footer-social {
        grid-column: 1;
    }

    .footer-content {
        grid-template-columns: 1fr;
        justify-content: center;
    }
}

@media screen and (max-width: 540px) {
    .home-container,
    .delivery-container {
        grid-template-columns: 360px;
        justify-content: center;
    }

    .recipe-img {
        position: initial;
    }

    .recipe-container {
        grid-template-columns: 200px 230px;
        justify-content: center;
        column-gap: 3rem;
    }

    .popular-container {
        grid-template-columns: repeat(2, 160px);
        justify-content: center;
    }

    .contact {
        max-width: 500px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    .popular-container {
        place-content: center;
        grid-template-columns: repeat(3, 160px);
    }

    .footer-social {
        grid-column: initial;
    }

    .footer-content {
        margin-top: 1rem;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }

    .footer-link:nth-child(1) {
        justify-self: start;
    }

    .footer-link:nth-child(2) {
        order: 2;
        justify-self: end;
    }
}

@media screen and (min-width: 1150px) {
    .container {
        margin-inline: auto;
    }

    .section {
        padding-block: 7rem 2rem;
    }

    .section-title {
        margin-bottom: 4.5rem;
    }

    .nav {
        height: calc(var(--header-height) + 2rem);
    }

    .nav-toggle,
    .nav-close {
        display: none;
    }

    .nav-list {
        flex-direction: row;
        column-gap: 4rem;
    }

    .home-container {
        grid-template-columns: 430px 600px;
        align-items: center;
        column-gap: 4rem;
        padding-block: 7rem 4 rem;
    }

    .home-data {
        text-align: initial;
    }

    .home-description {
        margin-bottom: 3.5rem;
        padding-right: 3rem;
    }

    .home-sticker {
        width: 60px;
        right: 10px;
        bottom: 1rem;
    }

    .home-burger {
        width: 490px;
    }

    .home-dish{
        width: 500px;
        bottom: -4rem;
    }

    .home-ingredient {
        width: 100px;
    }

    .home-potato-1 {
        left: -2rem;
        top: 1.5rem;
    }

    .home-potato-2 {
        right: -1.5rem;
        bottom: -3rem;
    }

    .home-tomato-1 {
        width: 70px;
        top: -1.5rem;
        right: 10rem;
    }

    .home-tomato-2 {
        width: 70px;
        left: 9.5rem;
        bottom: -2.5rem;
    }

    .home-lettuce-1 {
        top: 4rem;
        right: -3.5rem;
    }

    .home-lettuce-2 {
        bottom: 2rem;
        left: -3.5rem;
    }

    .recipe-container {
        grid-template-columns: 350px 300px;
        column-gap: 16rem;
        padding-bottom: 3rem;
    }

    .recipe-img {
        width: 350px;
    }

    .recipe-card {
        column-gap: 1rem;
    }

    .recipe-box {
        width: 100px;
        height: 100px;
        border-radius: 1.25rem;
        border-width: 5px;
    }

    .recipe-box img {
        width: 85px;
    }

    .recipe-title {
        font-size: var(--h3-font-size);
    }

    .recipe-description {
        font-size: var(--normal-font-size);
    }

    .popular-container {
        grid-template-columns: repeat(3, 250px);
        gap: 6.5rem 4rem;
        padding-block: 3rem;
    }

    .popular-card {
        padding: 9.5rem 1.25rem 1,25rem;
        border-radius: 2rem;
        border-width: 6px;
    }

    .popular-img {
        width: 160px;
        top: -3.5rem;
    }

    .popular-title {
        font-size: var(--h2-font-size);
    }

    .popular-price {
        font-size: var(--h1-font-size);
    }

    .popular-button {
        font-size: 1.5rem;
        right: 1.25rem;
        bottom: 1.25rem;
    }

    .delivery-container {
        grid-template-columns: 440px 550px;
        column-gap: 4rem;
        align-items: center;
        padding-block: 1rem;
    }

    .delivery-container .section-title,
    .delivery-data {
        text-align: initial;
    }

    .delivery-description {
        margin-bottom: 3.5rem;
    }

    .delivery-sticker {
        width: 50px;
        right: 8rem;
        bottom: 0;
    }

    .delivery-img {
        width: 550px;
    }

    .contact {
        max-width: initial;
    }

    .contact-container {
        border-radius: 4rem;
        padding-block: 4rem 6.5rem;
    }

    .contact-content {
        grid-template-columns: 420px 435px;
        justify-content: center;
        column-gap: 6.5rem;
    }

    .contact-data {
        grid-template-columns: repeat(2, max-content);
        text-align: initial;
        gap: 4.5rem 2rem;
        order: 1;
    }

    .contact-social {
        justify-content: initial;
    }

    .contact-title {
        margin-bottom: 1rem;
    }

    .contact-image {
        position: relative;
        width: 100%;
    }

    .contact-img {
        width: 420px;
        position: absolute;
        top: -2.5rem;
    }

    .contact-sticker-1 {
        width: 70px;
        left: 27rem;
        top: 10rem;
    }

    .contact-sticker-2 {
        width: 40px;
        right: 10rem;
        bottom: 5.5rem;
    }

    .footer {
        padding-block: 5rem 3rem;
    }

    .footer-container {
        row-gap: 3.5rem;
    }

    .footer-copy {
        margin-top: 4rem;
    }

    .scrollup {
        right: 3rem;
    }
} 