@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;600;700&family=Montserrat:wght@100..900&display=swap');

:root {
  --header-height: 3.5rem;

  --first-color: hsl(28, 95%, 60%);
  --first-color-alt: hsl(28, 95%, 56%);
  --beige-color: hsl(40, 45%, 86%);
  --beige-color-light: hsl(40, 45%, 94%);
  --beige-color-alt: hsl(40, 35%, 72%);
  --brown-color: hsl(18, 15%, 24%);
  --title-color: hsl(0, 0%, 6%);
  --text-color: hsl(0, 0%, 40%);
  --white-color: hsl(0, 0%, 98%);
  --body-color: hsl(0, 0%, 100%);
  --container-color: hsl(0, 0%, 96%);
  --border-color: hsl(0, 0%, 85%);

  --body-font: 'Montserrat', sans-serif;
  --second-font: 'Chakra Petch', sans-serif;
  --biggest-font-size: 1.875rem;
  --big-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (width >= 1150px) {
  :root {
    --biggest-font-size: 4rem;
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--title-color);
}

input,
button {
  background: none;
  border: none;
  outline: none;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-bold);
  line-height: 120%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1120px;
  margin-inline: 1rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}
.section__title {
  text-align: center;
  font-size: var(--big-font-size);
  margin-bottom: 1.5rem;
}

.main {
  overflow: hidden;
}