@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;600;700&family=Montserrat:wght@100..900&display=swap');

:root {
  --header-height: 3.5rem;

  --first-color: hsl(28, 95%, 60%);
  --first-color-alt: hsl(28, 95%, 52%);
  --beige-color: hsl(40, 45%, 86%);
  --beige-color-light: hsl(40, 45%, 94%);
  --beige-color-alt: hsl(40, 35%, 72%);
  --brown-color: hsl(18, 15%, 24%);
  --title-color: hsl(0, 0%, 6%);
  --text-color: hsl(0, 0%, 40%);
  --white-color: hsl(0, 0%, 98%);
  --body-color: hsl(0, 0%, 100%);
  --container-color: hsl(0, 0%, 96%);
  --border-color: hsl(0, 0%, 85%);

  --body-font: 'Montserrat', sans-serif;
  --second-font: 'Chakra Petch', sans-serif;
  --biggest-font-size: 1.875rem;
  --big-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (width >= 1150px) {
  :root {
    --biggest-font-size: 4rem;
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--title-color);
}

input,
button {
  background: none;
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-bold);
  line-height: 120%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1120px;
  margin-inline: 1rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}
.section__title {
  text-align: center;
  font-size: var(--big-font-size);
  margin-bottom: 1.5rem;
}

.main {
  overflow: hidden;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: var(--z-fixed);
  transition:
    background-color 0.4s,
    box-shadow 0.4s;
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--white-color);
  font-family: var(--second-font);
  font-weight: var(--font-bold);
  transition: color 0.4s;
}

.nav__toggle {
  color: var(--white-color);
  font-size: 1.5rem;
  cursor: pointer;
  transition:
    color 0.4s,
    transform 0.4s;
}

@media screen and (width <= 1150px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -120%;
    background-color: var(--body-color);
    width: 300px;
    height: 100%;
    box-shadow: -8px 0 16px hsla(0, 0%, 0%, 0.15);
    padding: 7rem 0 2rem 2rem;
    transition: right 0.4s cubic-bezier(0.785, 0.135, 0.15, 1.2);
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition:
    color 0.3s,
    text-decoration 0.3s,
    text-underline-offset 0.3s;
  text-underline-offset: 10px;

  &:hover {
    color: var(--first-color);
    text-decoration: 1px solid underline;
    text-underline-offset: 2px;
  }
}

.nav__button {
  background-color: var(--first-color);
  padding: 1rem;
  border-radius: 0.5rem;
  display: inline-flex;
  transition: background-color 0.4s;

  &:hover {
    background-color: var(--first-color-alt);
    color: var(--title-color);
  }
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

.show-menu {
  right: 0;
}

.home {
  position: relative;
  height: 800px;
  overflow: hidden;
}

.home__bg,
.home__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home__bg {
  object-fit: cover;
  object-position: center;
}

.home__shadow {
  background: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 20%, hsl(0, 0%, 0%) 100%);
}

.home__container {
  height: 100%;
  place-items: center;
}

.home__data {
  z-index: 10;
  text-align: center;
}

.home__logo {
  width: 120px;
  margin-inline: auto;
  margin-bottom: 1rem;
}

.home__title {
  color: var(--white-color);
  font-size: var(--biggest-font-size);
}

.home__description {
  color: var(--white-color);
  margin-block: 1rem 3rem;
}

.button {
  display: inline-flex;
  background-color: var(--first-color);
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  padding: 1rem 2rem;
  border-radius: .5rem;
  transition: background-color .4s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.scroll-header {
  background-color: var(--body-color);
  box-shadow: 0 8px 16px hsla(0, 0%, 0%, 0.15);
}

.scroll-header :is(.nav__logo, .nav__toggle) {
  color: var(--title-color);
}








@media screen and (width >= 540px) {
  .home__container {
    grid-template-columns: 400px;
    justify-content: center;
  }
}

@media screen and (width >= 1150px) {
  .container {
    margin-inline: auto;
  }
  .section {
    padding-block: 7rem 5rem;
  }
  .nav {
    height: calc(var(--header-height) + 2rem);
  }
  .nav__toggle,
  .nav__close {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    align-items: center;
    column-gap: 4rem;
  }
  .nav__link {
    color: var(--white-color);
  }
  .nav__button {
    color: var(--title-color);
  }
  .scroll-header .nav__link {
    color: var(--title-color);
  }
  .home {
    height: 870px;
  }
  .home__container {
    grid-template-columns: 665px;
  }
  .home__logo {
    width: 150px;
  }
  .home__description {
    margin-bottom: 4rem;
  }
}
