header .imgContainer .welcome {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
}

main {
    position: relative;
    color: #c0c0c0;
    margin-top: -40px;
}

main section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer {
    margin-top: 20px;
    vertical-align: bottom;
    color: #c0c0c0;
    font-size: 14px;
    padding: 8px 36px;
    background-color: transparent;
    text-align: center;
}