* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(900px,#121212, #5f5f5f);
    font-size: 30px;
    text-align: center;
    color: silver;
}

.flip {
    width: 300px;
    height: 300px;
    margin: 20px;
    float: left;
}

.front, 
.back {
    position: absolute;
    transform: perspective(400px) rotateY(0deg);
    background-color: coral;
    width: 300px;
    height: 300px;
    border-radius: 8px;
    backface-visibility: hidden;
    transition: all 1s ease-in-out;
}

.back {
    background-color: #0066ff;
    transform: rotateY(180deg);
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.flip:hover .front {
    position: absolute;
    transform: perspective(400px) rotateY(-180deg);
}

.flip:hover .back {
    position: absolute;
    transform: perspective(400px) rotateY(0deg);
}