@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #0f0f0f;
    color: #e3e3db;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    overflow: hidden;
}

.profile-images {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    position: relative;
    width: 70px;
    height: 70px;
    padding: 5px;
    cursor: pointer;
    will-change: width, height;
}

.img img {
    border-radius: 0.5rem;
}

.profile-names {
    width: 100%;
    height: 20rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    overflow: hidden;
}

.name h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 10rem;
    font-weight: 600;
    letter-spacing: -0.5rem;
    line-height: 1;
    color: red;
    user-select: none;
    transform: translateY(100%);
}

.name.default h1 {
    color: #e3e3db;
    transform: translateY(-100%);
}

.name h1 .letter {
    position: relative;
    transform: translateY(0%);
    will-change: transform;
}

@media screen and (max-width: 900px) {
    section {
        flex-direction: column-reverse;
    }
    .profile-images {
        flex-wrap: wrap;
        max-width: 90%;
        justify-content: center;
    }
    .img {
        width: 60px;
        height: 60px;
        padding: 2.5px;
    }
    .name h1 {
        font-size: 4rem;
        letter-spacing: 0;
    }
    .profile-names {
        height: 4rem;
    }
}