* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

:root {
    --primary-green: #c5f82a;
}

body {
    background: linear-gradient(#181818, #292929, #454545, silver 130%);
    color: #fff;
    min-height: 100vh;
    font-family: Verdana;
    line-height: 1.4;
    display: grid;
    place-content: center;
}

.card {
    background-color: #292929;
    padding: 1rem 2rem;
    min-width: 400px;
    text-align: center;
    border-radius: .75rem;
}

.card img {
    width: 100px;
    border-radius: 50%;
    box-shadow: 0 0 6px var(--primary-green);
}

.card h1 {
    font-size: 1.75rem;
}

.card .location {
    color: var(--primary-green);
    margin: .5rem 0 1rem;
    font-weight: 700;
}

.card ul {
    margin-top: 1rem;
}

.card ul li:not(:last-child) {
    margin-bottom: 1rem;
}

.card ul li a {
    display: block;
    background-color: #181818;
    color: lightcyan;
    padding: 1rem;
    font-weight: 600;
    border-radius: .5rem;
    transition: all .3s ease;
}

.card ul li a:hover {
    background-color: var(--primary-green);
    color: #181818;
    transform: translateY(-8px);
}