body {
    background: radial-gradient(#03072e, #02041c);
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;
    transform: rotateY(50deg);
}

.banner .slider {
    position: absolute;
    width: 250px;
    height: 200px;
    top: 20%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 30s linear infinite;
    z-index: 2;
}

@keyframes autoRun {
    from {
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }

    to {
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
    }
}

.banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(450px);
}

.banner .slider .item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transform: perspective(1000px);
}