* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: radial-gradient(ellipse at center, #2c3e50, #1a1d23);
}

h1 {
    color: peru;
}

.container {
    position: relative;
    width: 400px;
    height: 400px;
    align-self: start;
}

.container .tile {
    position: absolute;
    width: 20px;
    height: 20px;
    background-size: 400px 400px;
}

.container .tile.img1 {
    background-image: url(/images/clint.jpeg);
    transition: 1s;
    opacity: 1;
}

.container .tile.img2 {
    background-image: url(/images/tuco-01.jpg);
    opacity: 0;
}

.container:hover .tile.img1 {
    opacity: 0;
}

.container:hover .tile.img2 {
    opacity: 1;
}